<div class="page-container animated fadeIn"><!-- About-Banner -->
<div class="about-banner" id="about-banner">

</div>
<!-- About-Banner -->

<!-- Out Side Section -->
<div class="out-side">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 wow slideInLeft">
        <div class="left-image-div">
          <img class="img-responsive" src="images/v1.jpg" alt="">
          <a class="various fancybox.iframe" href="ttps://player.vimeo.com/video/168881256?title=0&byline=0&portrait=0&autoplay=true"><i class="fa fa-play-circle-o"></i></a>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 wow slideInRight">
        <div class="out-text">
          <h1>Outside the ordinary.</h1>
          <p>Gaston Outside is a celebration of the people, places, businesses and natural beauty that make Gaston County such an amazing place. From the mountains in the west to the rivers in the east, our county is woven together with a heritage of hard work and a love for the outdoors.</p> <p>Nestled just outside of Charlotte, Gaston County is diverse, made up of charming small towns, plentiful natural resources and industrious people. We are makers and doers, proud to call ourselves ‘outsiders.’ We are Gaston Outside.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Out Side Section -->
<!-- Image list section -->
<div class="image-list">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 wow fadeIn">
        <ul class="">
          <li><img [src]="content.images[1]" alt=""></li>
          <li><img [src]="content.images[2]" alt=""></li>
          <li><img [src]="content.images[3]" alt=""></li>
          <li><img [src]="content.images[4]" alt=""></li>
          <li><img [src]="content.images[5]" alt=""></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Image list section -->

<!-- Our MIssion -->
<div class="our-mission wow fadeIn" data-wow-delay=".4s">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="mission-text text-center">
          <p>Our mission is to inspire the people of Gaston to share with the world Gaston’s incredible stories and all that it has to offer as a terrific place to live, work and play.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Our MIssion -->

<!-- grid images section -->
<div class="grid-image">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="row">
          <div class="col-xs-12 wow slideInLeft">
             <img [src]="content.images[8]" alt="Gallery 02">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6 wow slideInLeft">
            <div class="grid mt-30px">
            <img [src]="content.images[6]" alt="Gallery 02">
            </div>
          </div>
          <div class="col-xs-12 col-md-6 wow slideInLeft">
            <div class="grid mt-30px">
              <img [src]="content.images[7]" alt="Gallery 02">
           </div>
         </div>
       </div>
     </div>
     <div class="col-xs-12 col-md-6 wow slideInRight">
      <div class="grid">
        <img [src]="content.images[9]" alt="Gallery 02">
      </div>
    </div>
  </div>
</div>
</div>
<!-- grid images section -->


<!-- Testimonial -->
<div class="testimonial">
  <div class="container">
    <div class="row">
    <div class="te-testimonial-wrap wow fadeIn" data-wow-delay=".4s"> 
       <div class="col-sm-12 te-testimonail-innner">
        <img src="images/testimonail-thum.jpg" alt="thum">
        <div class="testimonial-text">
          <p>“Gaston County is a region of abundance. We have this small town feel while being conveniently located next door to one of the largest and fastest-growing metropolitan areas in the South.”</p>
          <h5>Joel Long</h5>
          <h6>Chairman of the GGDC Board of Trustees</h6>
        </div>
      </div> <!-- /te-testimonail-innner --> 

      <div class="col-sm-12 te-testimonail-innner">
        <img src="images/testimonail-thum.jpg" alt="thum">
        <div class="testimonial-text">
          <p>“We want community members to show that they are excited that they’re a part of Gaston County, and we want people and business decision makers outside of Gaston to realize all the opportunity that exists within the county and the more than a dozen communities here.”</p>
          <h5>Andy Warlick</h5>
          <h6>CEO of Parkdale and Co-Chair of the Alliance for Growth Image and Marketing Committee</h6>
        </div>
      </div> <!-- /te-testimonail-innner --> 

 
    <div class="testimonail-nav">
      <span class="prev"><img src="images/arrow.png" alt="arrow"></span>
      <span class="next"><img src="images/arrow.png" alt="arrow"></span>
    </div>
  </div>
</div>
</div>
<!-- Testimonial -->


<!-- Advanced take -->
<div class="advanced-take wow fadeInUp" id="about-footer" data-wow-delay=".4s">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <p></p>
      </div>
    </div>
  </div>
</div>
<!-- Advanced take -->
</div>