<div class="page-container animated fadeIn" id="businessContainer">
<!-- About-Banner -->
<div id="business-banner" class="about-banner">

</div>
<!-- About-Banner -->

<!-- Out Side Section -->
<div class="out-side">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 wow slideInLeft">
        <div class="left-image-div education-slider">
          <div><img class="img-responsive" src="/images/business-slider-2.jpg"  alt=""></div>
          <div><img class="img-responsive" src="/images/business-slider-1.jpg"  alt=""></div>
          <div><img class="img-responsive" src="/images/business-slider-3.jpg"  alt=""></div>
        </div>
        <div class="business-nav">
          <span class="prev"><img src="images/arrow-white.png" alt="arrow-white"></span>
          <span class="next"><img src="images/arrow-white.png" alt="arrow"></span>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 wow slideInRight">
        <div class="out-text">
          <h1>Room to grow.</h1>
          <p>Business has always thrived in Gaston County—from our hardworking textile mill heritage to our current roster of global manufacturers. We are a county of makers and doers, with a passion for craft demonstrated in yesteryear’s textile mills and today’s thriving independent artisans. Close proximity to Charlotte’s international airport, location directly on the I-85 corridor and plenty of available land make Gaston an ideal location for companies, while a skilled and ready workforce, economic incentives and vibrant quality of life make it easy for businesses of all kinds to succeed here.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Out Side Section --> 

<!-- Our MIssion -->
<div class="our-mission wow fadeIn" data-wow-delay=".4s">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="mission-text text-center">
          <p>From Dole Foods to National Gypsum, Bridgestone / Firestone to Parkdale, global companies are growing in Gaston County.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Image list section -->
<div class="image-list" style="margin-bottom: 119px;">
  <div class="container">
    <div class="row">
          <div class="col-sm-3 col-xs-6"><img src="images/boat1.jpg" alt="" style="max-width: 100%;"></div>
          <div class="col-sm-3 col-xs-6"><img src="images/boat2.jpg" alt=""></div>
          <div class="col-sm-3 col-xs-6"><img src="images/boat3.jpg" alt=""></div>
          <div class="col-sm-3 col-xs-6"><img src="images/boat4.jpg" alt=""></div>
      </div>
    </div>
</div>

<!-- Important Text -->
<div class="important-text business-important">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3 wow fadeInLeftBig hide-mobile" data-wow-delay=".4s">
        <div class="important-links">
          <ul class="list-unstyled">
          </ul>
        </div>
      </div>

      <div class="col-xs-12 col-md-3 wow fadeInLeftBig column" data-wow-delay=".2s">
        <div class="important-links">
          <ul class="list-unstyled">
            <li><a href="http://gaston.org/" target="_blank">Gaston County Economic Development Commission</a></li>
            <li><a href="http://www.gastondevcorp.com/" target="_blank">Greater Gaston Development Corporation</a></li>
          </ul>
        </div>
      </div>

      <div class="col-xs-12 col-md-3 wow fadeInLeftBig column">
        <div class="important-links">
          <ul class="list-unstyled">
            <li><a href="http://www.gastonchamber.com/" target="_blank">Gaston Regional Chamber of Commerce</a></li>
            <li><a href="http://montcrossareachamber.com/" target="_blank">Montcross Area Chamber of Commerce</a></li>
          </ul>
        </div>
      </div>

      <div class="col-xs-12 col-md-3 wow fadeInLeftBig column hide-mobile">
        <div class="important-links">
          <ul class="list-unstyled">
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Important Text -->
 

<!-- Advanced take -->
<div id="business-footer" class="advanced-take wow fadeInUp" data-wow-delay=".4s">
  <div class="container">
    <div class="row">
    </div>
  </div>
</div>
</div>
<!-- Advanced take -->
 