<div class="page-container animated fadeIn">
<!-- About-Banner -->
<div class="about-banner" id="communities-banner">

</div>
<!-- About-Banner -->

<!-- Out Side Section -->
<div class="made-more">
  <div class="container">
    <div class="row"> 
      <div class="col-xs-12 col-md-8 col-md-offset-2 wow slideInRight">
        <div class="out-text text-center">
          <h1>Made of more.</h1>
          <p>With 14 unique municipalities, Gaston County has plenty of places to call home—whether you’d like to be close to the city, close to the great outdoors, or both! Each municipality brings its own distinct personality, but they all share the county’s tenacious energy, adventurous spirit and friendly charm.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Out Side Section --> 

<!-- Big Slider -->
<div class="bigslider wow zoomIn">
  <div class="bigslider-wrap">
    <div><img class="img-responsive" src="/images/communities-slider-1.jpg" alt=""></div>
    <div><img class="img-responsive" src="images/communities-slider-2.jpg" alt=""></div>
    <div><img class="img-responsive" src="/images/communities-slider-3.jpg" alt=""></div>
  </div>
  <div class="container">
    <div class="bigslider-nav">
      <span class="prev"><img src="images/arrow-white.png" alt="arrow-white"></span>
      <span class="next"><img src="images/arrow-white.png" alt="arrow"></span>
    </div>
  </div>
</div>
<!-- Big Slider -->

<!-- Simple Image  -->
<div class="four-image">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-3 wow slideInLeft" data-wow-delay=".6s">
        <img class="img-responsive" src="/images/communities-1.jpg" alt="">
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 wow slideInLeft" data-wow-delay=".4s">
        <img class="img-responsive" src="/images/communities-2.jpg" alt="">
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 wow slideInLeft" data-wow-delay=".2s">
        <img class="img-responsive" src="/images/communities-3.jpg" alt="">
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 wow slideInLeft">
        <img class="img-responsive" src="/images/communities-4.jpg" alt="">
      </div>
    </div>
  </div>
</div>
<!-- Simple Image  -->
<div class="map-area">
  <div class="container" style="padding: 0;">
    <div class="row">
      <div class="col-xs-12" style="padding: 0;">
        <div class="all-map-list">

          <div class="thirdhover circle-state map-items">
            <span (click)="firstOnClick()"></span>
          </div>
          <div class="secondhover circle-state map-items">
            <span (click)="secondOnClick()"></span>
          </div> 
          <div class="eighthover circle-state map-items">
            <span  (click)="thirdOnClick()" ></span>
          </div>
          <div class="sevenhover circle-state map-items">
            <span  (click)="fourthOnClick()" ></span>
          </div> 
          <div class="fivehover circle-state map-items">
            <span (click)="fifthOnClick()" ></span>
          </div> 
          <div class="sixhover circle-state map-items active">
            <span (click)="sixthOnClick()" ></span>
          </div><!--
          <div class="twelvehover circle-state map-items">
            <span  (click)="seventhOnClick()"></span>
          </div> -->
          <div class="thirteenhover circle-state map-items">
            <span (click)="eigthOnClick()" ></span>
          </div>
          <div class="fourteenhover circle-state map-items">
            <span (click)="ninthOnClick()" ></span>
          </div>
          <div class="ninehover circle-state map-items">
            <span (click)="tenthOnClick()" ></span>
          </div>
          <div class="fourhover circle-state map-items">
            <span (click)="twelthOnClick()" ></span>
          </div>
          <div class="onehover circle-state map-items">
            <span (click)="thirteenthOnClick()" ></span>
          </div>
          <div class="elevenhover circle-state map-items">
            <span (click)="fourteenthOnClick()" ></span>
          </div>
          <div class="fifteenthhover circle-state map-items">
            <span (click)="fifteenthOnClick()" ></span>
          </div>
          <div class="sixteenthhover circle-state map-items">
            <span (click)="sixteenthOnClick()" ></span>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
<div  class="modal-content" id="exampleModal11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="container">
    <div>
      <div class="modal-header">
      </div>
      <div class="modal-body">
      <h1>{{activeTitle}}</h1>
        <p>{{activeParagraph}}</p>
        <a href="{{activeLinkUrl}}" target="_blank">{{activeLinkText}}</a>
      </div> 
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->
<div class="panel-group" id="mobileaccordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#mobileaccordion" href="#collapse1" (click)="sixthOnClick()">Gastonia</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>{{ activeParagraph }}</p>
        <p><a [href]="activeLinkUrl" target="_blank">{{activeLinkText}}</a></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#mobileaccordion" href="#collapse2" (click)="thirteenthOnClick()">Mount Holly</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
        <p>{{ activeParagraph }}</p>
        <p><a [href]="activeLinkUrl" target="_blank">{{activeLinkText}}</a></p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#mobileaccordion" href="#collapse3" (click)="firstOnClick()">Belmont</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
        <p>{{ activeParagraph }}</p>
        <p><a [href]="activeLinkUrl" target="_blank">{{activeLinkText}}</a></p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#mobileaccordion" href="#collapse4" (click)="thirdOnClick()">Cherryville</a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">
        <p>{{ activeParagraph }}</p>
        <p><a [href]="activeLinkUrl" target="_blank">{{activeLinkText}}</a></p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#mobileaccordion" href="#collapse5" (click)="seventhOnClick()">Bessemer City</a>
      </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
      <div class="panel-body">
        <p>{{ activeParagraph }}</p>
        <p><a [href]="activeLinkUrl" target="_blank">{{activeLinkText}}</a></p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#mobileaccordion" href="#collapse6" (click)="fifthOnClick()">Dallas</a>
      </h4>
    </div>
    <div id="collapse6" class="panel-collapse collapse">
      <div class="panel-body">
        <p>{{ activeParagraph }}</p>
        <p><a [href]="activeLinkUrl" target="_blank">{{activeLinkText}}</a></p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#mobileaccordion" href="#collapse7" (click)="fourthOnClick()">Cramerton</a>
      </h4>
    </div>
    <div id="collapse7" class="panel-collapse collapse">
      <div class="panel-body">
        <p>{{ activeParagraph }}</p>
        <p><a [href]="activeLinkUrl" target="_blank">{{activeLinkText}}</a></p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#mobileaccordion" href="#collapse8" (click)="sixteenthOnClick()">Stanley</a>
      </h4>
    </div>
    <div id="collapse8" class="panel-collapse collapse">
      <div class="panel-body">
        <p>{{ activeParagraph }}</p>
        <p><a [href]="activeLinkUrl" target="_blank">{{activeLinkText}}</a></p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#mobileaccordion" href="#collapse9" (click)="tenthOnClick()">Lowell</a>
      </h4>
    </div>
    <div id="collapse9" class="panel-collapse collapse">
      <div class="panel-body">
        <p>{{ activeParagraph }}</p>
        <p><a [href]="activeLinkUrl" target="_blank">{{activeLinkText}}</a></p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#mobileaccordion" href="#collapse10" (click)="fourteenthOnClick()">Ranlo</a>
      </h4>
    </div>
    <div id="collapse10" class="panel-collapse collapse">
      <div class="panel-body">
        <p>{{ activeParagraph }}</p>
        <p><a [href]="activeLinkUrl" target="_blank">{{activeLinkText}}</a></p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#mobileaccordion" href="#collapse11" (click)="ninthOnClick()">Kings Mountain</a>
      </h4>
    </div>
    <div id="collapse11" class="panel-collapse collapse">
      <div class="panel-body">
        <p>{{ activeParagraph }}</p>
        <p><a [href]="activeLinkUrl" target="_blank">{{activeLinkText}}</a></p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#mobileaccordion" href="#collapse12" (click)="eigthOnClick()">High Shoals</a>
      </h4>
    </div>
    <div id="collapse12" class="panel-collapse collapse">
      <div class="panel-body">
        <p>{{ activeParagraph }}</p>
        <p><a [href]="activeLinkUrl" target="_blank">{{activeLinkText}}</a></p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#mobileaccordion" href="#collapse13" (click)="twelthOnClick()">McAdenville</a>
      </h4>
    </div>
    <div id="collapse13" class="panel-collapse collapse">
      <div class="panel-body">
        <p>{{ activeParagraph }}</p>
        <p><a [href]="activeLinkUrl" target="_blank">{{activeLinkText}}</a></p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#mobileaccordion" href="#collapse14" (click)="fifteenthOnClick()">Spencer Mountain</a>
      </h4>
    </div>
    <div id="collapse14" class="panel-collapse collapse">
      <div class="panel-body">
        <p>{{ activeParagraph }}</p>
        <p><a [href]="activeLinkUrl" target="_blank">{{activeLinkText}}</a></p></div>
    </div>
  </div>
</div>

<!-- Image list section -->
<div class="image-list">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 wow slideInLeft">
        <ul>
          <li><img src="/images/communities-5.jpg" alt=""></li>
          <li><img src="/images/communities-6.jpg" alt=""></li>
          <li><img src="/images/communities-7.jpg" alt=""></li>
          <li><img src="/images/communities-8.jpg" alt=""></li>
          <li class="large"><img src="/images/communities-9.jpg" alt=""></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Image list section -->
 </div>

 <!-- mobile accordion -->
 
