<div class="page-container animated fadeIn">
<!-- Header -->
<!-- About-Banner -->
<div class="about-banner" id="education-banner">

</div>
<!-- About-Banner -->

<!-- Out Side Section -->
<div class="out-side">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 wow slideInLeft">
        <div class="left-image-div education-slider">
          <div><img class="img-responsive" src="images/education-slider-1.jpg" alt=""></div>
          <div><img class="img-responsive" src="images/education-slider-2.jpg" alt=""></div>
          <div><img class="img-responsive" src="images/education-slider-3.jpg" alt=""></div>
        </div>
        <div class="business-nav">
          <span class="prev"><img src="images/arrow-white.png" alt="arrow-white"></span>
          <span class="next"><img src="images/arrow-white.png" alt="arrow"></span>
        </div>
      </div>
      <div class="col-xs-12 col-md-6  wow slideInRight">
        <div class="out-text">
          <h1>Outside the box.</h1>
          <p>Education is the path to a bright future—for Gaston County and beyond. We’re proud to invest in tomorrow’s leaders with a range of quality education offerings, including innovative magnet schools, for students of all ages. Be it early education or college, Gaston students will find rich opportunities to learn and grow across the county.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Out Side Section --> 


<!-- grid images section -->
<div class="grid-image education">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="row">
          <div class="col-xs-12 col-sm-12 wow slideInLeft">
            <img src="images/education-image-1.jpg" alt="Gallery 02">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-md-6 wow slideInLeft">
            <div class="grid mt-30px">
              <img src="images/education-image-2.jpg" alt="Gallery 02">
            </div>
          </div>
          <div class="col-xs-6 col-md-6 wow slideInLeft">
            <div class="grid mt-30px">

             <img src="images/education-image-3.jpg" alt="Gallery 02">

           </div>
         </div>
       </div>
     </div>
     <div class="col-xs-12 col-md-6 wow slideInRight">
      <div class="grid">
        <img src="images/education-image-4.jpg" alt="Gallery 02" class="big-image">
      </div>
    </div>
  </div>
</div>
</div>
<!-- grid images section -->

<!-- Important Text -->
<div class="important-text">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3 hide-mobile wow fadeInLeftBig" data-wow-delay=".4s">
        <div class="important-links">
          <ul class="list-unstyled">
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-3 wow fadeInLeftBig column" data-wow-delay=".4s">
        <div class="important-links">
          <ul class="list-unstyled">
            <li><a href="http://www.gaston.k12.nc.us/domain/3337" target="_blank">Gaston County Schools</a></li>
            <li><a href="http://www.gaston.edu/" target="_blank">Gaston College</a></li>
          </ul>
        </div>
      </div>

      <div class="col-xs-12 col-md-3 wow fadeInLeftBig column" data-wow-delay=".2s">
        <div class="important-links">
          <ul class="list-unstyled">
            <li><a href="http://www.privateschoolreview.com/north-carolina/gaston-county" target="_blank">Gaston Private Schools</a></li>
            <li><a href="http://belmontabbeycollege.edu" target="_blank">Belmont Abbey College</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-3 hide-mobile wow fadeInLeftBig" data-wow-delay=".4s">
        <div class="important-links">
          <ul class="list-unstyled">
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Important Text -->




<!-- Advanced take -->
<div class="advanced-take wow fadeInUp" id="education-footer" data-wow-delay=".4s">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <p></p>
      </div>
    </div>
  </div>
</div>
<!-- Advanced take -->
</div>
 