<div class="news-letter homepage-newsletter">
		<div class="container">
	    <div class="row">
		<div class="col-xs-12 col-md-5 email-message">
		<h3>{{ message }}</h3>
		<p>{{ thankYouCopy }}</p>
		</div>
		<div class="col-xs-12 col-md-7 email-form" >
		<form role="form" id= "subscribe-form" method="POST" >
		<div class="input-group">
		<input type="text" class="form-control" [(ngModel)]="inputMessage" id="exampleInputEmail2"  name="email" placeholder="Your Email Address" required>
		<span class="input-group-btn">
		<button class="btn btn-default btn-subscribe" type= "submit" (click)="submit()"> Sign Up</button >
		</span>
		</div>
		</form>
		</div>
	    </div>
		</div>
		</div>