<div class="page-container animated fadeIn">
<!-- Header -->
<!-- About-Banner -->
<div class="about-banner" id="go-banner">

</div>
<!--
<div class="go-custom wow zoomIn" id="generator-container">
  <div class="container">
   <h3>GO Custom!</h3>
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <p>Share the spirit with your own unique GO graphic. Designing is easy—simply use the form below to create your graphic and download.</p>
      </div>
    </div>
    <div class="go-custom-jpg row" style="width: 100%;">
      <div class="custom-jpg col-sm-12" style="position: relative; width: 600px; max-width: 100%;  padding: 0; border: 0;">
        <div droppable="true" (dragenter)="preventThrough()" (dragover)="preventThrough()" (drop)="dropImage()" style="width: 600px; max-width: 100%; height: 600px; border: 2px dotted #007723; background-color: #ddd; position: relative;" id="drop-uploader"><p style="font-weight: bold; font-size: 2em; color: #007723; top: 50%; text-align: center; width: 100%; transform: translateY(-50%); position: absolute;">Drag file here to upload</p></div>
        <div style="position: relative; overflow: hidden;" draggable="true" id="generatorCanvas" (dragstart)="startImagePosition()" (dragend)="changeImagePosition()">
        <img [src]="generator.canvasImage" alt="" id="custom-man" style="display: none; cursor: pointer; "  /> 
        </div>
      </div>
      <div class="col-sm-4 instructions">
          <div class="instruction">Drag files into box or manually <span style="white-space: nowrap;">upload below.</span><br />
          <span class="fileUpload btn">
            <span>Upload </span>
            <input type="file"  class="upload" (change)="fileChange(input)" #input /> 
          </span>
          </div>
          <div class="instruction">Personalize Hashtag.
          <br /><span style="white-space: nowrap;">#GO<input [(ngModel)]="generator.text" class="text-generator" style="width: 55%; background-color: #eee; border: 0;" /></span><br /><br />
          <a class="btn btn-primary" (click)="generateImage()">Submit</a> </div>
          <div class="instruction">
          <form ngNoForm action="/download" method="POST" #form >
          <input type="hidden" name="image" [value]="generator.canvasImage" maxlength="18" />Download image to share how you GO!<br />
          <button class="btn btn-primary">Download</button>
          </form>
      </div>
    </div>
  </div>
</div>
<!-- go-custom 

<div class="how-it-works wow fadeIn">
  <div class="container">
    <h3>How it works</h3>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="number">
          1
        </div>
        <div class="number-text">
          <p>Upload an image  using the ‘upload image’ button above.</p>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="number">
          2
        </div>
        <div class="number-text">
          <p>Use icons to edit position and add your custom GO hashtag.</p>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="number">
          3
        </div>
        <div class="number-text">
          <p>Download image and/or share on social media!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Slider 
 <section class="image-carousel wow zoomIn" id="#carousel">
      <div class="container carousel-container">
        <div class="col-md-1 col-sm-1 col-xs-1 prev-arrow-container no-pad">
          <a class="prev"><img src="images/prevarrow.png" alt="" /></a>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10 images-container no-pad">
          <div id="carousel">
            <div>
              <img src="images/carousel1.jpg" alt="">
              <div class="slide-caption"><h2>#GOoutside</h2></div>
            </div>
            <div>
              <img src="images/carousel2.jpg" alt="">
              <div class="slide-caption"><h2>#GOunited</h2></div>
            </div>
            <div>
              <img src="images/carousel3.jpg" alt="">
              <div class="slide-caption"><h2>#GOvolunteer</h2></div>
            </div>
            <div>
              <img src="images/carousel1.jpg" alt="">
              <div class="slide-caption"><h2>#GOexplore</h2></div>
            </div>
            <div>
              <img src="images/carousel2.jpg" alt="">
              <div class="slide-caption"><h2>#GOenergy</h2></div>
            </div>
            <div>
              <img src="images/carousel3.jpg" alt="">
              <div class="slide-caption"><h2>#GOenjoy</h2></div>
            </div>
          </div>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1 next-arrow-container no-pad">
          <a class="next"><img src="images/nextarrow.png" alt="" /></a>
        </div>
      </div>
    </section>
<!-- Slider -->

<!-- T-Shirt section -->
<div class="tshirt" id="gear-container">
  <div class="container">
  <h2 class="text-center">GO Gear!</h2>
    <div class="row"><!--
    <div class="col-xs-12 col-sm-6 col-md-4 wow fadeIn">
        <div class="shirt-details">
          <a href="http://www.zazzle.com/gaston_outside_t_shirt_green-235792919362274746" target="_blank"><img src="http://rlv.zcache.com/gaston_outside_t_shirt_green-re0a4ba0594ef4a019c6a21b06cd4d5f0_jgs6k_512.jpg" alt="shirt1"></a>
          <div class="detais-shirt text-center">
            <h3><a href="http://www.zazzle.com/gaston_outside_t_shirt_green-235792919362274746" target="_blank">Green T-Shirt</a></h3>
            <p>$33.45</p>
          </div>
        </div>
      </div> -->
      <div class="col-xs-12 col-sm-3 col-md-3 wow fadeIn">
        <div class="shirt-details">
          <a href="http://www.zazzle.com/gaston_outside_t_shirt_gray-235038094483982909" target="_blank"><img src="http://rlv.zcache.com/svc/view?rlvnet=1&realview=113349424808332978&design=4a74803e-d2ee-4497-9be9-e179a9bc01f5&style=hanes_mens_crew_tshirt_5250&size=a_l&color=grey&max_dim=512&hide=bleed%2Csafe%2CvisibleMask&r=1464741853541" alt="shirt1"></a>
          <div class="detais-shirt text-center">
            <h3><a href="http://www.zazzle.com/gaston_outside_t_shirt_gray-235074372804716622" target="_blank">Gray T-Shirt</a></h3>
            <p>$25.95</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 wow fadeIn">
        <div class="shirt-details">
          <a href="http://www.zazzle.com/gaston_outside_sticker-217878896279945142" target="_blank"><img src="http://rlv.zcache.com/gaston_outside_sticker-rc0ca7184a4b4420f91b6dc96b47bed58_v9waf_8byvr_512.jpg" alt="shirt1"></a>
          <div class="detais-shirt text-center">
            <h3><a href="http://www.zazzle.com/gaston_outside_sticker-217391698372884517" target="_blank">Sticker</a></h3>
            <p>$4.95</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 wow fadeIn">
        <div class="shirt-details">
          <a href="http://www.zazzle.com/gaston_outside_koozie_gray-256444264490798814" target="_blank"><img src="http://rlv.zcache.com/gaston_outside_koozie_gray-rcc4e7fd3518f4927a39efd931eb2c3b0_zl1f0_512.jpg?rlvnet=1" alt="shirt1"></a>
          <div class="detais-shirt text-center">
            <h3><a href="http://www.zazzle.com/gaston_outside_koozie_gray-256894885201828797" target="_blank">Gray Koozie</a></h3>
            <p>$6.50</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 wow fadeIn">
        <div class="shirt-details">
          <a href="http://www.zazzle.com/gaston_outside_koozie_green-256415783826820290" target="_blank"><img src="http://rlv.zcache.com/svc/view?realview=113533206938108772&design=5b880950-84b9-4039-ab20-ec97648b87f2&rlvnet=1&style=can&max_dim=512&hide=bleed%2Csafe%2CvisibleMask&r=1464740551008" alt="shirt1"></a>
          <div class="detais-shirt text-center">
            <h3><a href="http://www.zazzle.com/gaston_outside_koozie_green-256340036020698535" target="_blank">Green Koozie</a></h3>
            <p>$6.50</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
<!-- T-Shirt section -->
 
<!-- Advanced take -->
</div>
 