<div class="page-container animated fadeIn">
<!-- Header -->
<!-- About-Banner -->
<div class="about-banner">

</div>

<!-- go-custom -->
<div class="go-custom wow zoomIn" id="generator-container">
  <div class="container">
   <h3>Go Custom</h3>
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <p>Share the spirit with your own unique GO graphic. Designing is easy—simply use the form below to create your graphic and download. Perfect for t-shirts, banners and more!</p>
        <div class="go-custom-jpg">
          <div class="custom-jpg" style="position: relative;">
            <div id="generatorCanvas">
            <img [src]="generator.canvasImage" alt="" id="custom-man" /> 
            </div>
            <div><input [(ngModel)]="generator.text" (keydown)="generateImage()" />
              <div class="fileUpload btn btn-primary">
                <span>Upload <i class="fa fa-file-image-o" aria-hidden="true"></i></span>
                <input type="file"  class="upload" (change)="fileChange(input)" #input /> 
              </div>
            </div>
            <a class="btn btn-primary" [download]="'/download?image' + generator.canvasImage">Download</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- go-custom -->

<div class="how-it-works wow fadeIn">
  <div class="container">
    <h3>How it works</h3>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="number">
          1
        </div>
        <div class="number-text">
          <p>Upload an image  using the ‘upload image’ button above.</p>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="number">
          2
        </div>
        <div class="number-text">
          <p>Use icons to edit position, add a custom GO hashtag, or include GO graphics.</p>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="number">
          3
        </div>
        <div class="number-text">
          <p>Download image and/or share on social media!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Slider -->
 <section class="image-carousel wow zoomIn" id="#carousel">
      <div class="container carousel-container">
        <div class="col-md-1 col-sm-1 col-xs-1 prev-arrow-container no-pad">
          <a class="prev"><img src="images/prevarrow.png" alt="" /></a>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10 images-container no-pad">
          <div id="carousel">
            <div>
              <img src="images/carousel1.jpg" alt="">
              <div class="slide-caption"><h2>#GOoutside</h2></div>
            </div>
            <div>
              <img src="images/carousel2.jpg" alt="">
              <div class="slide-caption"><h2>#GOunited</h2></div>
            </div>
            <div>
              <img src="images/carousel3.jpg" alt="">
              <div class="slide-caption"><h2>#GOvolunteer</h2></div>
            </div>
            <div>
              <img src="images/carousel1.jpg" alt="">
              <div class="slide-caption"><h2>#GOexplore</h2></div>
            </div>
            <div>
              <img src="images/carousel2.jpg" alt="">
              <div class="slide-caption"><h2>#GOenergy</h2></div>
            </div>
            <div>
              <img src="images/carousel3.jpg" alt="">
              <div class="slide-caption"><h2>#GOenjoy</h2></div>
            </div>
          </div>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1 next-arrow-container no-pad">
          <a class="next"><img src="images/nextarrow.png" alt="" /></a>
        </div>
      </div>
    </section>
<!-- Slider -->

<!-- T-Shirt section -->
<div class="tshirt" id="gear-container">
  <div class="container">
  <h2 class="text-center">Go Gear</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 wow fadeIn">
        <div class="shirt-details">
          <img src="images/shirt1.jpg" alt="shirt1">
          <div class="detais-shirt text-center">
            <h3>T-Shirt</h3>
            <p>$23.99</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 wow fadeIn">
        <div class="shirt-details">
          <img src="images/shirt1.jpg" alt="shirt1">
          <div class="detais-shirt text-center">
            <h3>T-Shirt</h3>
            <p>$23.99</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 wow fadeIn">
        <div class="shirt-details">
          <img src="images/shirt1.jpg" alt="shirt1">
          <div class="detais-shirt text-center">
            <h3>T-Shirt</h3>
            <p>$23.99</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 wow fadeIn">
        <div class="shirt-details">
          <img src="images/shirt1.jpg" alt="shirt1">
          <div class="detais-shirt text-center">
            <h3>T-Shirt</h3>
            <p>$23.99</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 wow fadeIn">
        <div class="shirt-details">
          <img src="images/shirt1.jpg" alt="shirt1">
          <div class="detais-shirt text-center">
            <h3>T-Shirt</h3>
            <p>$23.99</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 wow fadeIn">
        <div class="shirt-details">
          <img src="images/shirt1.jpg" alt="shirt1">
          <div class="detais-shirt text-center">
            <h3>T-Shirt</h3>
            <p>$23.99</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- T-Shirt section -->
 


<!-- Advanced take -->
<div class="advanced-take">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <p>where will your adventure take you?</p>
      </div>
    </div>
  </div>
</div>
<!-- Advanced take -->
</div>
 