<div id="homeContainer" class="page-container animated fadeIn">
  
<section class="jumbotron main-image">
      <div class="container text-center"> 
        <div class="col-md-6 col-md-offset-3 jumbotron-text-container">
          <i id="jumbotron-play-btn" class="fa fa-play-circle-o" aria-hidden="true" (click)="playVideo()"></i>
          <h1 class="jumbotron-text">Let's GO!</h1>
          <p class="jumbotron-text">From big business to small town charm to the great outdoors, Gaston has endless opportunity to explore.</p>
        </div>
      </div>
</section>


<!-- T-Shirt section -->
<div class="tshirt home-tshirt">
  <div class="container">
  <h2 class="text-center">Go Gear</h2>
    <div class="row">
      <div class="col-sm-4 mobile-hide">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 wow fadeIn">
        <div class="shirt-details">
          <img src="images/home-go.jpg" alt="shirt1">
          <div class="detais-shirt text-center">
            <h3>Wear it out</h3>
            <p>Shop stylish GO gear for every day and represent your community pride.</p>
            <a (click)="onClickGearLink()" class="btn btn-primary">GO Gear</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 wow fadeIn">
        <div class="shirt-details">
          <img src="images/home-go2.jpg" alt="shirt1">
          <div class="detais-shirt text-center">
            <h3>Stand out</h3>
            <p>Create your own GO logo, customized for your school, team, town or organization.</p>
            <a (click)="onClickGeneratorLink()" class="btn btn-primary">GO Custom</a>
          </div>
        </div>
      </div> 
      <div class="col-xs-12 col-sm-12 col-md-4 wow fadeIn">
       <div class="thumbnail twitter-thumbnail">
              <a class="twitter-timeline" href="https://twitter.com/hashtag/gooutside" data-widget-id="729678733615865856" height="410">#GastonOutse Tweets</a>
        </div>
        <!--<a href="#twittersearch" target="_blank" class="btn btn-primary">View More</a> -->
      </div>
      <div class="col-sm-4 mobile-hide">
      </div>
    </div>
  </div>
</div>
<!-- T-Shirt section -->
 

<!-- Our MIssion -->
<div class="our-mission wow fadeIn" data-wow-delay=".4s">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="mission-text text-center">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut. </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Our MIssion -->
<!-- Slider -->
 <section class="image-carousel wow zoomIn">
      <div class="container carousel-container">
        <div class="col-md-1 col-sm-1 col-xs-1 prev-arrow-container no-pad">
          <a class="prev"><img src="images/prevarrow.png" alt="" /></a>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10 images-container no-pad">
          <div id="carousel">
            <div>
              <img src="images/carousel1.jpg" alt="">
              <div class="slide-caption"><h2>#GOoutside</h2></div>
            </div>
            <div>
              <img src="images/carousel2.jpg" alt="">
              <div class="slide-caption"><h2>#GOunited</h2></div>
            </div>
            <div>
              <img src="images/carousel3.jpg" alt="">
              <div class="slide-caption"><h2>#GOvolunteer</h2></div>
            </div>
            <div>
              <img src="images/carousel1.jpg" alt="">
              <div class="slide-caption"><h2>#GOexplore</h2></div>
            </div>
            <div>
              <img src="images/carousel2.jpg" alt="">
              <div class="slide-caption"><h2>#GOenergy</h2></div>
            </div>
            <div>
              <img src="images/carousel3.jpg" alt="">
              <div class="slide-caption"><h2>#GOenjoy</h2></div>
            </div>
          </div>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1 next-arrow-container no-pad">
          <a class="next"><img src="images/nextarrow.png" alt="" /></a>
        </div>
      </div>
  </section>
</div>
<!-- Slider -->