<div id="homeContainer" class="page-container animated fadeIn">
  
<section class="jumbotron main-image">
      <div class="container text-center"> 
        <div class="col-md-6 col-md-offset-3 jumbotron-text-container"><a class="various fancybox.iframe" href="https://player.vimeo.com/video/169099270?title=0&byline=0&portrait=0&autoplay=true"><i id="jumbotron-play-btn" class="fa fa-play-circle-o" aria-hidden="true"></i></a>
          <h1 class="jumbotron-text">Let’s GO!</h1>
          <p class="jumbotron-text">From big business to small town charm to the great outdoors, Gaston has endless opportunities to explore.</p>
        </div>
      </div>
</section>


<!-- T-Shirt section -->
<div class="tshirt home-tshirt">
  <div class="container">
  <h2 class="text-center"></h2>
    <div class="row">
      <div class="col-xs-12  wow fadeIn home-column">
        <div class="shirt-details">
          <img src="images/home-go.jpg" alt="shirt1">
          <div class="detais-shirt text-center">
            <h3>Wear it out</h3>
            <p>Shop stylish GO gear for every day and display your community pride.</p>
            <a (click)="onClickGearLink()" class="btn btn-primary">GO Gear</a>
          </div>
        </div>
      </div><!--
      <div class="col-xs-12 col-sm-6 col-md-4 wow fadeIn">
        <div class="shirt-details">
          <img src="images/home-go2.jpg" alt="shirt1">
          <div class="detais-shirt text-center">
            <h3>Stand out</h3>
            <p>Create your own GO logo, customized for your school, team, town or organization.</p>
            <a (click)="onClickGeneratorLink()" class="btn btn-primary">GO Custom</a>
          </div>
        </div>
      </div> -->
      <div class="col-xs-12 wow fadeIn home-column" style="text-align: center;">
       <div class="thumbnail twitter-thumbnail">
        <a class="twitter-timeline" href="https://twitter.com/hashtag/GastonOutside" data-widget-id="738039047315161088">#GastonOutside Tweets</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- T-Shirt section -->
 

<!-- Our MIssion -->
<div class="our-mission wow fadeIn" data-wow-delay=".4s">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="mission-text text-center">
          <p>GO live, GO work, GO play&mdash;<br />all in Gaston County. </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Our MIssion -->
<!-- Slider
 <section class="image-carousel wow zoomIn">
      <div class="container carousel-container">
        <div class="col-md-1 col-sm-1 col-xs-1 prev-arrow-container no-pad">
          <a class="prev"><img src="images/prevarrow.png" alt="" /></a>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10 images-container no-pad">
          <div id="carousel">
            <div>
              <img src="images/carousel1.jpg" alt="">
              <div class="slide-caption"><h2>#GOoutside</h2></div>
            </div>
            <div>
              <img src="images/carousel2.jpg" alt="">
              <div class="slide-caption"><h2>#GOunited</h2></div>
            </div>
            <div>
              <img src="images/carousel3.jpg" alt="">
              <div class="slide-caption"><h2>#GOvolunteer</h2></div>
            </div>
            <div>
              <img src="images/carousel1.jpg" alt="">
              <div class="slide-caption"><h2>#GOexplore</h2></div>
            </div>
            <div>
              <img src="images/carousel2.jpg" alt="">
              <div class="slide-caption"><h2>#GOenergy</h2></div>
            </div>
            <div>
              <img src="images/carousel3.jpg" alt="">
              <div class="slide-caption"><h2>#GOenjoy</h2></div>
            </div>
          </div>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1 next-arrow-container no-pad">
          <a class="next"><img src="images/nextarrow.png" alt="" /></a>
        </div>
      </div>
  </section>
</div>
<!-- Slider -->