  <!-- Header -->
  <header>
    <div class="top-bar"></div>
    <nav class="navbar navbar-default">
       <div class="container">
       <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand"  [routerLink]="['Home']"><img src="images/logo.png" alt="logo"></a>
     </div>

     <div id="navbar" class="collapse navbar-collapse" >
      <ul id="nav" class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['About']">About</a></li>
        <li><a [routerLink]="['Communities']">Communities</a></li>
        <li><a [routerLink]="['Business']">Business</a></li>
        <li><a [routerLink]="['Education']">Education</a></li>
        <li><a [routerLink]="['Recreation']">Recreation</a></li>
        <li><a [routerLink]="['News']">News</a></li>
        <li><a [routerLink]="['Go']">GO Gear</a></li>
      </ul>
    </div>
  </div>
</nav>
</header>
<!-- Header -->
<div style="min-height: 100vh">
  <router-outlet></router-outlet>
</div>
  <email-signup></email-signup>
<!-- Footer -->
<footer>
  <div class="footer-top">
    <div class="footer-logo text-center">
      <a href="#"><img src="images/footer-logo.png" alt=""></a>
      <ul class="list-inline">
        <li><a [routerLink]="['Home']">Home</a></li>
        <li><a  [routerLink]="['Communities']">Communities</a></li>
        <li><a [routerLink]="['Business']">Business</a></li>
        <li><a [routerLink]="['Education']">Education</a></li>
        <li><a  [routerLink]="['Recreation']">Recreation</a></li>
        <li><a  [routerLink]="['News']">News</a></li> 
        <li><a  [routerLink]="['Go']">GO Gear</a></li>
      </ul>
    </div>
  </div>
  <div class="fotter-bottom text-center">
    <p class="footer-address">1212 Spruce Street, Suite 203, Belmont NC 28012</p>
    <ul class="list-inline">
      <li><a>©2016 Greater Gaston Development Corporation</a></li>
      <!-- <li><a  [routerLink]="['Terms']">Terms of use</a></li>
      <li><a  [routerLink]="['Privacy']">Privacy policy</a></li> -->
    </ul>
  </div>
</footer>
