<div class="page-container animated fadeIn">
<!-- About-Banner -->
<div class="about-banner" id="news-banner">

</div>
<!-- About-Banner -->

<!-- News Page -->
<div class="out-side">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8">
          <h2 class="news-title">Recent News</h2>
          <!--<div class="news-lastest-post">
            <a href="#"><img class="img-responsive" src="images/news/news-img1.jpg" alt=""></a>
            <div class="post-content">
              <div class="post-meta">
                <h2 class="pull-left">News Article 1</h2>
              <span class="pull-right"> <span class="date">May 4, 2016</span> / WBTV Charlotte </span>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore </p>
              <a href="#" class="news-read-more">Read More</a>
            </div>
          </div> -->

          <div class="news-post">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-5"><a href="#"><img class="img-responsive" src="http://www.charlotteobserver.com/sports/other-sports/ofudqh/picture70903407/ALTERNATES/FREE_960/trials1" alt=""></a></div>
              <div class="col-xs-12 col-sm-6 col-md-7">
                <div class="post-content post-content-small">
              <div class="post-meta">
                <h2 class="pull-left">Gastonia’s Michal Smolen closes on kayak berth for 2016 Olympics</h2>
              <span class="pull-right"> <span class="date">April 8, 2016</span> / The Charlotte Observer </span>
              </div>
              <p>Strong performances from Michal Smolen put him in a great position to snag an Olympic slot in upcoming team trials</p>
              <a href="http://www.charlotteobserver.com/sports/other-sports/article70851212.html" target="_blank" class="news-read-more">Read More</a>
            </div>
              </div>
            </div>
          </div>
          <div class="news-post">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-5"><a href="#"><img class="img-responsive" src="images/news/news-img3.jpg" alt=""></a></div>
              <div class="col-xs-12 col-sm-6 col-md-7">
                <div class="post-content post-content-small">
              <div class="post-meta">
                <h2 class="pull-left">News Article 3</h2>
              <span class="pull-right"> <span class="date">May 4, 2016</span> / CBS News </span>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
              <a href="#" class="news-read-more">Read More</a>
            </div>
              </div>
            </div>
          </div>
          <div class="news-post">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-5"><a href="#"><img class="img-responsive" src="images/news/news-img4.jpg" alt=""></a></div>
              <div class="col-xs-12 col-sm-6 col-md-7">
                <div class="post-content post-content-small">
              <div class="post-meta">
                <h2 class="pull-left">News Article 4</h2>
              <span class="pull-right"> <span class="date">May 4, 2016</span> / CBS News </span>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
              <a href="#" class="news-read-more">Read More</a>
            </div>
              </div>
            </div>
          </div>
          <div class="news-post">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-5"><a href="#"><img class="img-responsive" src="images/news/news-img5.jpg" alt=""></a></div>
              <div class="col-xs-12 col-sm-6 col-md-7">
                <div class="post-content post-content-small">
              <div class="post-meta">
                <h2 class="pull-left">News Article 5</h2>
              <span class="pull-right"> <span class="date">May 4, 2016</span> / CBS News </span>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
              <a href="#" class="news-read-more">Read More</a>
            </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="news-right-sidebar scrollspy" id="news-sidebar">
          <div id="fixedMenu" class="hidden-xs hidden-sm" data-spy="affix">
            <div class="social-tab">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-justified" role="tablist">
              <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-twitter"></i></a></li>
              <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-facebook-official"></i></a></li> 
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="home">
                <a class="twitter-timeline" href="https://twitter.com/hashtag/gooutside" data-widget-id="729678733615865856" height="600">#gooutside Tweets</a>
              </div>
              <div role="tabpanel" class="tab-pane" id="profile">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=313&height=610&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="313" height="600" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
              </div> 
            </div>

          </div>
          </div>

           

        </div>
      </div>

     
    </div>
  </div>
</div>
<!-- News Page -->
</div>