<div class="page-container animated fadeIn">
<!-- About-Banner -->
<div class="about-banner" id="news-banner">

</div>
<!-- About-Banner -->

<!-- News Page -->
<div class="out-side">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8">
          <h2 class="news-title">Recent News</h2>
          <div class="news-post">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-5"><a href="#"><img class="img-responsive" src="http://www.gastongazette.com/storyimage/NC/20160627/NEWS/160629135/AR/0/AR-160629135.jpg" alt=""></a></div>
              <div class="col-xs-12 col-sm-6 col-md-7">
                <div class="post-content post-content-small">
              <div class="post-meta">
                <h2 class="pull-left">James Worthy still following mom's rules</h2>
              <span class="pull-right"> <span class="date">June 27, 2016</span> / Gaston Gazette</span>
              </div>
              <p>"Basketball great and Gastonia native James Worthy has created a scholarship award in honor of his late mother. Six of this year’s Gaston County Schools graduates are the first-ever recipients of a scholarship from the Naismith Memorial Basketball Hall of Famer. Learn more in the Gaston Gazette."</p>
              <a target="_blank" href="http://www.gastongazette.com/news/20160627/james-worthy-still-following-moms-rules" class="news-read-more">Read More</a>
            </div>
              </div>
            </div>
          </div>
          <div class="news-post">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-5"><a href="#"><img class="img-responsive" src="http://www.gastongazette.com/storyimage/NC/20160626/SPORTS/160629228/AR/0/AR-160629228.jpg" alt=""></a></div>
              <div class="col-xs-12 col-sm-6 col-md-7">
                <div class="post-content post-content-small">
              <div class="post-meta">
                <h2 class="pull-left">Harold Varner III qualifies for British Open</h2>
              <span class="pull-right"> <span class="date">June 26, 2016</span> / Gaston Gazette</span>
              </div>
              <p>"Mark your calendars for July 14-17, Gaston County! Harold Varner, Gastonia native and Forestview High School grad, has qualified for the British Open! Congrats, Harold!"</p>
              <a target="_blank" href="http://www.gastongazette.com/sports/20160626/harold-varner-iii-qualifies-for-british-open" class="news-read-more">Read More</a>
            </div>
              </div>
            </div>
          </div>
          <div class="news-post">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-5"><a href="#"><img class="img-responsive" src="http://www.gastongazette.com/galleryimage/NC/20160625/POLL/625009997/PH/0/1/PH-625009997.jpg" alt=""></a></div>
              <div class="col-xs-12 col-sm-6 col-md-7">
                <div class="post-content post-content-small">
              <div class="post-meta">
                <h2 class="pull-left">Clash of the Bots 2016</h2>
              <span class="pull-right"> <span class="date">June 25, 2016</span> / Gaston Gazette</span>
              </div>
              <p>"The Schiele Museum hosted their Clash of the Bots event on Saturday, June 25 and Gaston Outside was glad to be a part of it! Head to the Gaston Gazette gallery to view photos from this awesome event."</p>
              <a target="_blank" href="http://www.gastongazette.com/photogallery/NC/20160625/POLL/625009997/PH/1?start=2" class="news-read-more">Read More</a>
            </div>
              </div>
            </div>
          </div>
          <div class="news-post">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-5"><a href="#"><img class="img-responsive" src="http://www.gastongazette.com/storyimage/NC/20160607/NEWS/160609226/AR/0/AR-160609226.jpg" alt=""></a></div>
              <div class="col-xs-12 col-sm-6 col-md-7">
                <div class="post-content post-content-small">
              <div class="post-meta">
                <h2 class="pull-left">Owens Corning shows off Gastonia facility</h2>
              <span class="pull-right"> <span class="date">June 6, 2016</span> / Gaston Gazette</span>
              </div>
              <p>"We’ve built something here that is state of the art," CEO Mike Thaman. Read all about the new Owens Corning facility located in Gastonia in The Gaston Gazette.</p>
              <a target="_blank" href="http://www.gastongazette.com/news/20160607/owens-corning-shows-off-gastonia-facility" class="news-read-more">Read More</a>
            </div>
              </div>
            </div>
          </div>
          <div class="news-post">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-5"><a href="#"><img class="img-responsive" src="http://www.gastongazette.com/storyimage/NC/20160602/NEWS/160609821/AR/0/AR-160609821.jpg" alt=""></a></div>
              <div class="col-xs-12 col-sm-6 col-md-7">
                <div class="post-content post-content-small">
              <div class="post-meta">
                <h2 class="pull-left">2-word slogan to lead Gaston County image campaign</h2>
              <span class="pull-right"> <span class="date">June 2, 2016</span> / Gaston Gazette</span>
              </div>
              <p>Have you heard? We're ready to GO! Read all about it in The Gaston Gazette.</p>
              <a target="_blank" href="http://www.gastongazette.com/news/20160602/2-word-slogan-to-lead-gaston-county-image-campaign" class="news-read-more">Read More</a>
            </div>
              </div>
            </div>
          </div>
          <div class="news-post">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-5"><a href="#"><img class="img-responsive" src="http://www.gastongazette.com/storyimage/NC/20151003/NEWS/151009683/AR/0/AR-151009683.jpg&MaxW=650&MaxH=500" alt=""></a></div>
              <div class="col-xs-12 col-sm-6 col-md-7">
                <div class="post-content post-content-small">
              <div class="post-meta">
                <h2 class="pull-left">Gastonia’s Harold Varner III enjoying life on PGA Tour</h2>
              <span class="pull-right"> <span class="date">May 3, 2016</span> / The Charlotte Observer </span>
              </div>
              <p>Forestview High grad and Gaston County golfer, Harold Varner, earns PGA tour card for next season. He is the second Gaston County native to do so, the last being Rocky Rockett in 1972. </p>
              <a target="_blank" href="http://www.charlotteobserver.com/sports/other-sports/article75400002.html" class="news-read-more">Read More</a>
            </div>
              </div>
            </div>
          </div>
          <div class="news-post">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-5"><a href="#"><img class="img-responsive" src="http://www.gastongazette.com/storyimage/NC/20160430/SPORTS/160439901/AR/0/AR-160439901.jpg&MaxW=650&MaxH=500" alt=""></a></div>
              <div class="col-xs-12 col-sm-6 col-md-7">
                <div class="post-content post-content-small">
              <div class="post-meta">
                <h2 class="pull-left">Gaston County residents Michal Smolen, Casey Eichfeld, complete their journeys to Rio for the 2016 Summer Olympics</h2>
              <span class="pull-right"> <span class="date">May 1, 2016</span> / Gaston Gazette </span>
              </div>
              <p>Casey Eichfeld, men’s single canoe, of Mount Holly and Michal Smolen, men’s single kayak, of Gastonia, both land their spots to compete at the 2016 Summer Olympics.</p>
              <a href="http://www.gastongazette.com/article/20160430/SPORTS/160439901" target="_blank" class="news-read-more">Read More</a>
            </div>
              </div>
            </div>
          </div>
          <div class="news-post">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-5"><a href="#"><img class="img-responsive" src="http://www.gastongazette.com/storyimage/NC/20160407/NEWS/160409209/AR/0/AR-160409209.jpg&MaxW=650" alt=""></a></div>
              <div class="col-xs-12 col-sm-6 col-md-7">
                <div class="post-content post-content-small">
              <div class="post-meta">
                <h2 class="pull-left">Gaston boasts state's top teacher</h2>
              <span class="pull-right"> <span class="date">Apr 7, 2016</span> / Gaston Gazette </span>
              </div>
              <p>Bobbie Cavnar is named North Carolina’s 2016-17 Teacher of the Year by N.C. Department of Public Instruction. Cavnar is a British Literature teacher at South Point High School in Belmont.</p>
              <a href="http://www.gastongazette.com/article/20160407/NEWS/160409209" target="_blank" class="news-read-more">Read More</a>
            </div>
              </div>
            </div>
          </div>
          <div class="news-post">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-5"><a href="#"><img class="img-responsive" src="http://www.gastongazette.com/storyimage/NC/20160219/NEWS/160218828/AR/0/AR-160218828.jpg&MaxW=650&MaxH=500" alt=""></a></div>
              <div class="col-xs-12 col-sm-6 col-md-7">
                <div class="post-content post-content-small">
              <div class="post-meta">
                <h2 class="pull-left">Trentavis Friday returns home to train for the Olympics</h2>
              <span class="pull-right"> <span class="date">Feb 19, 2016</span> / Gaston Gazette </span>
              </div>
              <p>Gaston County native, Trentavis Friday, foregoes eligibility at Florida State University to sign a professional contract and return home to Gaston to train for the 2016 Olympics at Sykes SpeedMasters.</p>
              <a href="http://www.gastongazette.com/article/20160219/NEWS/160218828" target="_blank" class="news-read-more">Read More</a>
            </div>
              </div>
            </div>
          </div>
          
          
          <div class="news-post">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-5"><a href="#"><img class="img-responsive" src="http://www.gastongazette.com/storyimage/NC/20160106/NEWS/160109491/AR/0/AR-160109491.jpg&MaxW=650" alt=""></a></div>
              <div class="col-xs-12 col-sm-6 col-md-7">
                <div class="post-content post-content-small">
              <div class="post-meta">
                <h2 class="pull-left">Brewery moving to downtown Belmont</h2>
              <span class="pull-right"> <span class="date">Jan 6, 2016</span> / Gaston Gazette </span>
              </div>
              <p>After experiencing substantial growth, Rivermen Brewing Company is relocating to a new location in Belmont. 52 Ervin Street will have more room for operating and will now serve food on site.</p>
              <a href="http://www.gastongazette.com/article/20160106/NEWS/160109491" target="_blank" class="news-read-more">Read More</a>
            </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="news-right-sidebar scrollspy" id="news-sidebar">
          <div id="fixedMenu" class="hidden-xs hidden-sm" data-spy="affix">
            <div class="social-tab">

            <!-- Nav tabs --><!--
            <ul class="nav nav-tabs nav-justified" role="tablist">
              <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-twitter"></i></a></li>
              <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-facebook-official"></i></a></li> 
            </ul> -->

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="home">
              <a class="twitter-timeline" href="https://twitter.com/hashtag/GastonOutside" data-widget-id="737715228901838848">#GastonOutside Tweets</a>
              </div><!--
              <div role="tabpanel" class="tab-pane" id="profile">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=313&height=360&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="313" height="360" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
              </div>  -->
            </div>

          </div>
          </div>

           

        </div>
      </div>

     
    </div>
  </div>
</div>
<!-- News Page -->
</div>