<div class="page-container animated fadeIn">
<div class="about-banner" id="recreation-banner">

</div>
<!-- About-Banner -->

<!-- Out Side Section -->
<div class="made-more">
  <div class="container">
    <div class="row"> 
      <div class="col-xs-12 col-md-8 col-md-offset-2 wow slideInRight">
        <div class="out-text text-center">
          <h1>More to explore.</h1>
          <p>No matter what your idea of a good time looks like, you’re bound to find it in Gaston County. From some of North Carolina’s best hiking, paddling and cycling to vibrant local culture and arts, our county’s opportunities for fun are endless. The natural beauty of the Southern Piedmont makes our county a magnet for outdoor enthusiasts, but the adventures here reach far beyond trails and rivers.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Out Side Section --> 

<!-- Big Slider -->
<div class="bigslider wow zoomIn">
  <div class="bigslider-wrap">
    <div><img class="img-responsive" src="images/recreation-slider-1.jpg" alt=""></div>
    <div><img class="img-responsive" src="images/recreation-slider-2.jpg" alt=""></div>
    <div><img class="img-responsive" src="images/recreation-slider-3.jpg" alt=""></div>
  </div>
  <div class="container">
    <div class="bigslider-nav">
      <span class="prev"><img src="images/arrow-white.png" alt="arrow-white"></span>
      <span class="next"><img src="images/arrow-white.png" alt="arrow"></span>
    </div>
  </div>
</div>
<!-- Big Slider -->

<!-- Simple Image  -->
<div class="four-image">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 wow slideInLeft" data-wow-delay=".6s">
        <img class="img-responsive" src="images/recreation-image-1.jpg" alt="">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 wow slideInLeft" data-wow-delay=".4s">
        <img class="img-responsive" src="images/recreation-image-2.jpg" alt="">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 wow slideInLeft" data-wow-delay=".2s">
        <img class="img-responsive" src="images/recreation-image-3.jpg" alt="">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 wow slideInLeft">
        <img class="img-responsive" src="images/recreation-image-4.jpg" alt="">
      </div>
    </div>
  </div>
</div>
<!-- Simple Image  -->
<!-- Map area -->
<div class="map-area">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="all-map-list">
          
          <div class="firsthover circle-state map-items">
            <span (click)="firstOnClick()"></span>
          </div>
          <div class="secondhover circle-state map-items">
            <span (click)="secondOnClick()"></span>
          </div>
          <div class="thirdhover circle-state map-items">
            <span (click)="thirdOnClick()"></span>
          </div>
          <div class="fourthhover circle-state map-items">
            <span (click)="fourthOnClick()"></span>
          </div>
          <div class="fifthhover circle-state map-items">
            <span (click)="fifthOnClick()"></span>
          </div>
          <div class="sixthhover circle-state map-items">
            <span (click)="sixthOnClick()"></span>
          </div>
          <div class="seventhhover circle-state map-items">
            <span (click)="seventhOnClick()"></span>
          </div>
          <div class="eigthhover circle-state map-items">
            <span (click)="eigthOnClick()"></span>
          </div>
          <div class="ninthhover circle-state map-items">
            <span (click)="ninthOnClick()"></span>
          </div>
          <div class="tenthhover circle-state map-items">
            <span (click)="tenthOnClick()"></span>
          </div>
          <div class="eleventhhover circle-state map-items">
            <span (click)="eleventhOnClick()"></span>
          </div>
          <div class="twelthhover circle-state map-items">
            <span (click)="twelthOnClick()"></span>
          </div>
          <div class="thirteenthhover circle-state map-items">
            <span (click)="thirteenthOnClick()"></span>
          </div>
          <div class="fourteenthhover circle-state map-items">
            <span (click)="fourteenthOnClick()"></span>
          </div>
          <div class="fifteenthhover circle-state map-items">
            <span (click)="fifteenthOnClick()"></span>
          </div>
          <div class="sixteenthhover circle-state map-items">
            <span (click)="sixteenthOnClick()"></span>
          </div>
          <div class="seventeenthhover circle-state map-items">
            <span (click)="seventeenthOnClick()"></span>
          </div>
          <div class="eighteenthhover circle-state map-items">
            <span (click)="eighteenthOnClick()"></span>
          </div>
          <div class="nineteenthhover circle-state map-items">
            <span (click)="nineteenthOnClick()"></span>
          </div>
          <div class="twentiethhover circle-state map-items">
            <span (click)="twentiethOnClick()"></span>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div  class="modal-content" id="exampleModal11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="container">
    <div>
      <div class="modal-header">
      </div>
      <div class="modal-body">
      <h1>{{activeTitle}}</h1>
        <p>{{activeParagraph}}</p>
        <a href="{{activeLinkUrl}}" target="_blank">{{activeLinkText}}</a>
        <p>{{activeAddress}}</p>
      </div> 
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->

<div class="container">For more information, go to <a href="http://visitgaston.org" target="_blank">visitgaston.org.</a></div>


<!-- Image list section -->
<div class="recreation-image-list image-list">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 wow slideInLeft">
        <ul class="">
          <li><a href="#"><img src="images/recreation-image-5.jpg" alt=""></a></li>
          <li><a href="#"><img src="images/recreation-image-6.jpg" alt=""></a></li>
          <li><a href="#"><img src="images/recreation-image-7.jpg" alt=""></a></li>
          <li><a href="#"><img src="images/recreation-image-8.jpg" alt=""></a></li>
          <li><a href="#"><img src="images/recreation-image-9.jpg" alt=""></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Image list section -->
</div>
 