<div class="page-container animated fadeIn">
<div class="about-banner" id="recreation-banner">

</div>
<!-- About-Banner -->

<!-- Out Side Section -->
<div class="made-more">
  <div class="container">
    <div class="row"> 
      <div class="col-xs-12 col-md-8 col-md-offset-2 wow slideInRight">
        <div class="out-text text-center">
          <h1>More to explore.</h1>
          <p>No matter what your idea of a good time looks like, you’re bound to find it in Gaston County. From some of North Carolina’s best hiking, paddling and cycling to vibrant local culture and arts, our county’s opportunities for fun are endless. The natural beauty of the Southern Piedmont makes our county a magnet for outdoor enthusiasts, but the adventures here reach far beyond trails and rivers.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Out Side Section --> 

<!-- Big Slider -->
<div class="bigslider wow zoomIn">
  <div class="bigslider-wrap">
    <div><img class="img-responsive" src="images/recreation-slider-1.jpg" alt=""></div>
    <div><img class="img-responsive" src="images/recreation-slider-2.jpg" alt=""></div>
  </div>
  <div class="container">
    <div class="bigslider-nav">
      <span class="prev"><img src="images/arrow-white.png" alt="arrow-white"></span>
      <span class="next"><img src="images/arrow-white.png" alt="arrow"></span>
    </div>
  </div>
</div>
<!-- Big Slider -->

<!-- Simple Image  -->
<div class="four-image">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-3 wow slideInLeft" data-wow-delay=".6s">
        <img class="img-responsive" src="images/recreation-image-1.jpg" alt="">
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 wow slideInLeft" data-wow-delay=".4s">
        <img class="img-responsive" src="images/recreation-image-2.jpg" alt="">
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 wow slideInLeft" data-wow-delay=".2s">
        <img class="img-responsive" src="images/recreation-image-3.jpg" alt="">
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 wow slideInLeft">
        <img class="img-responsive" src="images/recreation-image-4.jpg" alt="">
      </div>
    </div>
  </div>
</div>
<!-- Simple Image  -->
<!-- Map area -->
<div class="map-area">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="all-map-list">
          
          <div class="firsthoverrec circle-state map-items">
            <span (click)="firstOnClick()"></span>
          </div>
          <div class="secondhoverrec circle-state map-items">
            <span (click)="secondOnClick()"></span>
          </div>
          <div class="fourthhoverrec circle-state map-items">
            <span (click)="fourthOnClick()"></span>
          </div>
          <div class="fifthhoverrec circle-state map-items active">
            <span (click)="fifthOnClick()"></span>
          </div>
          <div class="sixthhoverrec circle-state map-items">
            <span (click)="sixthOnClick()"></span>
          </div>
          <div class="seventhhoverrec circle-state map-items">
            <span (click)="seventhOnClick()"></span>
          </div>
          <div class="eigthhoverrec circle-state map-items">
            <span (click)="eigthOnClick()"></span>
          </div>
          <div class="ninthhoverrec circle-state map-items">
            <span (click)="ninthOnClick()"></span>
          </div>
          <div class="tenthhoverrec circle-state map-items">
            <span (click)="tenthOnClick()"></span>
          </div>
          <div class="eleventhhoverrec circle-state map-items">
            <span (click)="eleventhOnClick()"></span>
          </div>
          <div class="twelthhoverrec circle-state map-items">
            <span (click)="twelthOnClick()"></span>
          </div>
          <div class="thirteenthhoverrec circle-state map-items">
            <span (click)="thirteenthOnClick()"></span>
          </div>
          <div class="fourteenthhoverrec circle-state map-items">
            <span (click)="fourteenthOnClick()"></span>
          </div>
          <div class="fifteenthhoverrec circle-state map-items">
            <span (click)="fifteenthOnClick()"></span>
          </div>
          <div class="sixteenthhoverrec circle-state map-items">
            <span (click)="sixteenthOnClick()"></span>
          </div>
          <div class="seventeenthhoverrec circle-state map-items">
            <span (click)="seventeenthOnClick()"></span>
          </div>
          <div class="eighteenthhoverrec circle-state map-items">
            <span (click)="eighteenthOnClick()"></span>
          </div>
          <div class="nineteenthhoverrec circle-state map-items">
            <span (click)="nineteenthOnClick()"></span>
          </div>
          <div class="twentiethhoverrec circle-state map-items">
            <span (click)="twentiethOnClick()"></span>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div  class="modal-content" id="exampleModal11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="container">
    <div>
      <div class="modal-header">
      </div>
      <div class="modal-body">
      <h1>{{activeTitle}}</h1>
        <p>{{activeParagraph}}</p>
        <a href="{{activeLinkUrl}}" target="_blank">{{activeLinkText}}</a>
        <p><a [href]="'https://www.google.com/maps/place/' + activeAddress" target="_blank" [title]="activeTitle">{{activeAddress}} ></a></p>
      </div> 
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->


<div class="panel-group" id="mobileaccordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#mobileaccordion" href="#collapse1" (click)="fifthOnClick()">Crowder's Mountain</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>{{ activeParagraph }}</p>
        <p><a [href]="activeLinkUrl" target="_blank">{{activeLinkText}}</a></p>
        <p><a [href]="'https://www.google.com/maps/place/' + activeAddress" target="_blank" [title]="activeTitle">{{activeAddress}} ></a></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#mobileaccordion" href="#collapse2" (click)="sixthOnClick()">Daniel Stowe Botanical Gardens</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
        <p>{{ activeParagraph }}</p>
        <p><a [href]="activeLinkUrl" target="_blank">{{activeLinkText}}</a></p>
        <p><a [href]="'https://www.google.com/maps/place/' + activeAddress" target="_blank" [title]="activeTitle">{{activeAddress}} ></a></p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#mobileaccordion" href="#collapse3" (click)="ninthOnClick()">Schiele Museum</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
        <p>{{ activeParagraph }}</p>
        <p><a [href]="activeLinkUrl" target="_blank">{{activeLinkText}}</a></p>
        <p><a [href]="'https://www.google.com/maps/place/' + activeAddress" target="_blank" [title]="activeTitle">{{activeAddress}} ></a></p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#mobileaccordion" href="#collapse4" (click)="twelthOnClick()">U.S. National White Water Center</a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">
        <p>{{ activeParagraph }}</p>
        <p><a [href]="activeLinkUrl" target="_blank">{{activeLinkText}}</a></p>
        <p><a [href]="'https://www.google.com/maps/place/' + activeAddress" target="_blank" [title]="activeTitle">{{activeAddress}} ></a></p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#mobileaccordion" href="#collapse5" (click)="sixteenthOnClick()">Belmont Abbey</a>
      </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
      <div class="panel-body">
        <p>{{ activeParagraph }}</p>
        <p><a [href]="activeLinkUrl" target="_blank">{{activeLinkText}}</a></p>
        <p><a [href]="'https://www.google.com/maps/place/' + activeAddress" target="_blank" [title]="activeTitle">{{activeAddress}} ></a></p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#mobileaccordion" href="#collapse6" (click)="seventeenthOnClick()">Goat Island Park</a>
      </h4>
    </div>
    <div id="collapse6" class="panel-collapse collapse">
      <div class="panel-body">
        <p>{{ activeParagraph }}</p>
        <p><a [href]="activeLinkUrl" target="_blank">{{activeLinkText}}</a></p>
        <p><a [href]="'https://www.google.com/maps/place/' + activeAddress" target="_blank" [title]="activeTitle">{{activeAddress}} ></a></p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#mobileaccordion" href="#collapse7" (click)="eleventhOnClick()">Tailrace Marina</a>
      </h4>
    </div>
    <div id="collapse7" class="panel-collapse collapse">
      <div class="panel-body">
        <p>{{ activeParagraph }}</p>
        <p><a [href]="activeLinkUrl" target="_blank">{{activeLinkText}}</a></p>
        <p><a [href]="'https://www.google.com/maps/place/' + activeAddress" target="_blank" [title]="activeTitle">{{activeAddress}} ></a></p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#mobileaccordion" href="#collapse8" (click)="seventhOnClick()">Gaston County Museum</a>
      </h4>
    </div>
    <div id="collapse8" class="panel-collapse collapse">
      <div class="panel-body">
        <p>{{ activeParagraph }}</p>
        <p><a [href]="activeLinkUrl" target="_blank">{{activeLinkText}}</a></p>
        <p><a [href]="'https://www.google.com/maps/place/' + activeAddress" target="_blank" [title]="activeTitle">{{activeAddress}} ></a></p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#mobileaccordion" href="#collapse9" (click)="eigthOnClick()">George Poston Park</a>
      </h4>
    </div>
    <div id="collapse9" class="panel-collapse collapse">
      <div class="panel-body">
        <p>{{ activeParagraph }}</p>
        <p><a [href]="activeLinkUrl" target="_blank">{{activeLinkText}}</a></p>
        <p><a [href]="'https://www.google.com/maps/place/' + activeAddress" target="_blank" [title]="activeTitle">{{activeAddress}} ></a></p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#mobileaccordion" href="#collapse10" (click)="tenthOnClick()">South Fork River Park</a>
      </h4>
    </div>
    <div id="collapse10" class="panel-collapse collapse">
      <div class="panel-body">
        <p>{{ activeParagraph }}</p>
        <p><a [href]="activeLinkUrl" target="_blank">{{activeLinkText}}</a></p>
        <p><a [href]="'https://www.google.com/maps/place/' + activeAddress" target="_blank" [title]="activeTitle">{{activeAddress}} ></a></p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#mobileaccordion" href="#collapse11" (click)="fourteenthOnClick()">Rankin Lake</a>
      </h4>
    </div>
    <div id="collapse11" class="panel-collapse collapse">
      <div class="panel-body">
        <p>{{ activeParagraph }}</p>
        <p><a [href]="activeLinkUrl" target="_blank">{{activeLinkText}}</a></p>
        <p><a [href]="'https://www.google.com/maps/place/' + activeAddress" target="_blank" [title]="activeTitle">{{activeAddress}} ></a></p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#mobileaccordion" href="#collapse12" (click)="twentiethOnClick()">Avon and Catawba Creeks Greenway</a>
      </h4>
    </div>
    <div id="collapse12" class="panel-collapse collapse">
      <div class="panel-body">
        <p>{{ activeParagraph }}</p>
        <p><a [href]="activeLinkUrl" target="_blank">{{activeLinkText}}</a></p>
        <p><a [href]="'https://www.google.com/maps/place/' + activeAddress" target="_blank" [title]="activeTitle">{{activeAddress}} ></a></p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#mobileaccordion" href="#collapse13" (click)="fifteenthOnClick()">Rocky Branch Bike Trail</a>
      </h4>
    </div>
    <div id="collapse13" class="panel-collapse collapse">
      <div class="panel-body">
        <p>{{ activeParagraph }}</p>
        <p><a [href]="activeLinkUrl" target="_blank">{{activeLinkText}}</a></p>
        <p><a [href]="'https://www.google.com/maps/place/' + activeAddress" target="_blank" [title]="activeTitle">{{activeAddress}} ></a></p></div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#mobileaccordion" href="#collapse14" (click)="eighteenthOnClick()">Seven Oaks Preserve Trail</a>
      </h4>
    </div>
    <div id="collapse14" class="panel-collapse collapse">
      <div class="panel-body">
        <p>{{ activeParagraph }}</p>
        <p><a [href]="activeLinkUrl" target="_blank">{{activeLinkText}}</a></p>
        <p><a [href]="'https://www.google.com/maps/place/' + activeAddress" target="_blank" [title]="activeTitle">{{activeAddress}} ></a></p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#mobileaccordion" href="#collapse15" (click)="nineteenthOnClick()">South Fork Trail</a>
      </h4>
    </div>
    <div id="collapse15" class="panel-collapse collapse">
      <div class="panel-body">
        <p>{{ activeParagraph }}</p>
        <p><a [href]="activeLinkUrl" target="_blank">{{activeLinkText}}</a></p>
        <p><a [href]="'https://www.google.com/maps/place/' + activeAddress" target="_blank" [title]="activeTitle">{{activeAddress}} ></a></p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#mobileaccordion" href="#collapse16" (click)="firstOnClick()">Brevard Station</a>
      </h4>
    </div>
    <div id="collapse16" class="panel-collapse collapse">
      <div class="panel-body">
        <p>{{ activeParagraph }}</p>
        <p><a [href]="activeLinkUrl" target="_blank">{{activeLinkText}}</a></p>
        <p><a [href]="'https://www.google.com/maps/place/' + activeAddress" target="_blank" [title]="activeTitle">{{activeAddress}} ></a></p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#mobileaccordion" href="#collapse17" (click)="secondOnClick()">C. Grier Truck Museum</a>
      </h4>
    </div>
    <div id="collapse17" class="panel-collapse collapse">
      <div class="panel-body">
        <p>{{ activeParagraph }}</p>
        <p><a [href]="activeLinkUrl" target="_blank">{{activeLinkText}}</a></p>
        <p><a [href]="'https://www.google.com/maps/place/' + activeAddress" target="_blank" [title]="activeTitle">{{activeAddress}} ></a></p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#mobileaccordion" href="#collapse18" (click)="fourthOnClick()">Cherryville Heritage Park</a>
      </h4>
    </div>
    <div id="collapse18" class="panel-collapse collapse">
      <div class="panel-body">
        <p>{{ activeParagraph }}</p>
        <p><a [href]="activeLinkUrl" target="_blank">{{activeLinkText}}</a></p>
        <p><a [href]="'https://www.google.com/maps/place/' + activeAddress" target="_blank" [title]="activeTitle">{{activeAddress}} ></a></p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#mobileaccordion" href="#collapse19" (click)="thirteenthOnClick()">Christmas Town USA</a>
      </h4>
    </div>
    <div id="collapse19" class="panel-collapse collapse">
      <div class="panel-body">
        <p>{{ activeParagraph }}</p>
        <p><a [href]="activeLinkUrl" target="_blank">{{activeLinkText}}</a></p>
        <p><a [href]="'https://www.google.com/maps/place/' + activeAddress" target="_blank" [title]="activeTitle">{{activeAddress}} ></a></p></div>
    </div>
  </div>
</div>


<div class="container" style="font-size: 17px; font-weight: 700; text-align: center;">To learn about even more adventures, go to <a href="http://visitgaston.org" target="_blank">visitgaston.org.</a></div>


<!-- Image list section -->
<div class="recreation-image-list image-list">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 wow slideInLeft">
        <ul class="">
          <li><a href="#"><img src="images/recreation-image-5.jpg" alt=""></a></li>
          <li><a href="#"><img src="images/recreation-image-6.jpg" alt=""></a></li>
          <li><a href="#"><img src="images/recreation-image-7.jpg" alt=""></a></li>
          <li><a href="#"><img src="images/recreation-image-8.jpg" alt=""></a></li>
          <li><a href="#" class="large"><img src="images/recreation-image-9.jpg" alt=""></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Image list section -->
</div>
 