/* .grid-image .grid {
  position: relative;
  margin: 0 auto;
  max-width: 1000px;
  list-style: none;
  text-align: center;
} */
.grid-image .grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}
.grid-image .grid figure img {
  position: relative;
  display: block;
  max-width: 100%;
  opacity: 0.8;
}
.grid-image .grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.grid-image .grid figure figcaption::before,
.grid-image .grid figure figcaption::after {
  pointer-events: none;
}
.grid-image .grid figure figcaption,
.grid-image .grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.grid-image .grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}
.grid-image .grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}
.grid-image .grid figure h2 span {
  font-weight: 800;
}
.grid figure h2,
.grid figure p {
  margin: 0;
}
.grid-image .grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}
/* .grid-image figure.effect-cheff {
  background: none; 
} */
.grid-image figure.effect-cheff img {
  opacity: 0.9;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
.grid-image figure.effect-cheff figcaption {
  padding: 3em; 
  -webkit-transition: background-color 0.35s;
  transition: background-color 0.35s;
}
.grid-image figure.effect-cheff figcaption::before {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  content: '';
  background-color: rgba(26, 26, 26, 0.6);
}
.figure-class:before {
  height: 100%;
  top: 2% !important;
}
.grid-image figure.effect-cheff h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  padding: 15px 5px;
  margin: 0 0 10px 0;
  background-color: rgba(58,52,42,0.7);
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}
.grid-image figure.effect-cheff figcaption::before,
.grid-image figure.effect-cheff p {
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.grid-image figure.effect-cheff figcaption::before,
.grid-image figure.effect-cheff .fa {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.grid-image figure.effect-cheff:hover figcaption::before,
.grid-image figure.effect-cheff:hover .fa {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.grid-image figure.effect-cheff:hover h2 {
    margin-top: 6%;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  background-color: transparent;
}
.grid-image figure.effect-cheff:hover figcaption::before,
.grid-image figure.effect-cheff:hover p {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.grid-image figure.effect-cheff:hover figcaption {
  background-color: rgba(58,52,42,0);
}
.gallary-hover-text {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}