/* Higher Resolution : 1680px > Max */
/* @media only screen and (min-width: 1680px) and (max-width: 3300px) {
 

}
 */


/* Tablet Layout: 1024px.  */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
 

}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
 
.navbar-brand>img { 
    width: 155px;
    height: 155px; 
}
.navbar-right {
    padding: 26px 0;
}
.navbar-default .navbar-nav>li>a { 
    font-size: 13px; 
    padding: 15px 10px;
}


}



/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
  .navbar-brand>img { 
    width: 120px;
    height: 120px; 
}
.navbar-default .navbar-nav>li.active:before {
    position: inherit; 
}
.navbar-right {
    padding: 10px;
}
.navbar-toggle { 
    margin-top: 16px; 
    margin-bottom: 16px;
  }
.navbar-default .navbar-toggle {
    border-color: #007723;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #007723;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #007723;
}
.navbar-default .navbar-toggle:focus .icon-bar,.navbar-default .navbar-toggle:hover .icon-bar{
    background-color: #FFFFFF;
} 
.left-image-div {
    width: 100%; 
}
.business-nav span.next {
    right: 30px;
}
.out-text {
    margin-left: 0;
    margin-top: 20px;
}
.out-side {
    padding: 20px 0;
}
.out-text p { 
    padding-top: 10px;
}


.news-letter h3 { 
    padding-bottom: 20px;
    text-align: center;
}
.news-letter form {
    padding-bottom: 20px;
}
.advanced-take {
    padding: 50px 0;
    margin-bottom: 0px;
}

.footer-logo.text-center ul li {
    margin: 20px 0;
}
.our-mission { 
    padding: 60px 0;
    margin: 20px 0;
}
.te-testimonail-innner img { 
    right: 50%;
    width: 115px;
    height: 115px; 
    margin-right: -58px;
}
.testimonial-text {
    padding-right: 0;
    width: 90%;
    margin: 0 auto;
}
.te-testimonail-innner p {
    font-size: 17px; 
    padding-top: 125px;
    line-height: 20px;
}
.testimonial {
    padding: 20px 0; 
}


 .post-content .post-meta h2{
    float: none!important;
    margin: 20px 0 10px 0;
}

.post-content .post-meta span{
    float: none!important;
}

.fotter-bottom ul li a { 
    font-size: 10px; 
}


.go-custom-jpg ul.nav-justified li:nth-child(1) {
    background-position: -8px 3px;
}
.go-custom-jpg ul.nav-justified li:nth-child(1):hover{
    background-position: -8px -57px;
}

.go-custom-jpg ul.nav-justified li:nth-child(2) {
    background-position: -126px 5px;
}
.go-custom-jpg ul.nav-justified li:nth-child(2):hover{
    background-position: -128px -52px;
}

.go-custom-jpg ul.nav-justified li:nth-child(3) {
    background-position: -253px 1px;
}
.go-custom-jpg ul.nav-justified li:nth-child(3):hover{
    background-position: -256px -58px;
}

.go-custom-jpg ul.nav-justified li:nth-child(4) {
    background-position: -382px 0px;
}
.go-custom-jpg ul.nav-justified li:nth-child(4):hover{
    background-position: -383px -54px;
}
.go-custom-jpg ul.nav-justified li:nth-child(5) {
    background-position: 62px 4px;
}
.go-custom-jpg ul.nav-justified li:nth-child(5):hover{
    background-position: 62px -52px;
}

.how-it-works .row .col-xs-12 {
    padding-top: 20px;
}

}




/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 320px) and (max-width: 480px) {
 
.post-content .post-meta h2{
    float: none!important;
    margin: 20px 0 10px 0;
}

.post-content .post-meta span{
    float: none!important;
}
.fotter-bottom ul li a { 
    font-size: 8px; 
}


}