

@font-face {
    font-family: 'gotham_bookregular';
    src: url('../fonts/gotham_book-webfont.woff2') format('woff2'),
         url('../fonts/gotham_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_blackregular';
    src: url('../fonts/gotham-black-webfont.woff2') format('woff2'),
         url('../fonts/gotham-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_boldregular';
    src: url('../fonts/gotham-bold-webfont.woff2') format('woff2'),
         url('../fonts/gotham-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_lightregular';
    src: url('../fonts/gotham-light-webfont.woff2') format('woff2'),
         url('../fonts/gotham-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_mediumregular';
    src: url('../fonts/gotham-medium-webfont.woff2') format('woff2'),
         url('../fonts/gotham-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#fountainG{
  position:relative;
  width:234px;
  height:28px;
  margin:auto;
  left: auto;
  right: auto;
}

.fountainG{
  position:absolute;
  top:0;
  background-color: #007723;
  width:28px;
  height:28px;
  animation-name:bounce_fountainG;
    -o-animation-name:bounce_fountainG;
    -ms-animation-name:bounce_fountainG;
    -webkit-animation-name:bounce_fountainG;
    -moz-animation-name:bounce_fountainG;
  animation-duration:1.5s;
    -o-animation-duration:1.5s;
    -ms-animation-duration:1.5s;
    -webkit-animation-duration:1.5s;
    -moz-animation-duration:1.5s;
  animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
  animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
  transform:scale(.3);
    -o-transform:scale(.3);
    -ms-transform:scale(.3);
    -webkit-transform:scale(.3);
    -moz-transform:scale(.3);
  border-radius:19px;
    -o-border-radius:19px;
    -ms-border-radius:19px;
    -webkit-border-radius:19px;
    -moz-border-radius:19px;
}

#fountainG_1{
  left:0;
  animation-delay:0.6s;
    -o-animation-delay:0.6s;
    -ms-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
}

#fountainG_2{
  left:29px;
  animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;
}

#fountainG_3{
  left:58px;
  animation-delay:0.9s;
    -o-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -moz-animation-delay:0.9s;
}



@keyframes bounce_fountainG{
  0%{
  transform:scale(1);
    background-color: #007723;
  }

  100%{
  transform:scale(.3);
    background-color:rgba(255,255,255, 0);
  }
}

@-o-keyframes bounce_fountainG{
  0%{
  -o-transform:scale(1);
    background-color: #007723;
  }

  100%{
  -o-transform:scale(.3);
    background-color:rgba(255,255,255, 0);
  }
}

@-ms-keyframes bounce_fountainG{
  0%{
  -ms-transform:scale(1);
    background-color: #007723;
  }

  100%{
  -ms-transform:scale(.3);
    background-color:rgba(255,255,255, 0);
  }
}

@-webkit-keyframes bounce_fountainG{
  0%{
  -webkit-transform:scale(1);
    background-color: #007723;
  }

  100%{
  -webkit-transform:scale(.3);
    background-color:rgba(255,255,255, 0);
  }
}

@-moz-keyframes bounce_fountainG{
  0%{
  -moz-transform:scale(1);
    background-color: #007723;
  }

  100%{
  -moz-transform:scale(.3);
    background-color: #007723;
  }
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, pre,
a, abbr,address, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small,strong, sub, sup, var,
b, u, i,dl, dt, dd, ol, ul, li,p,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; 
}

a, a:hover, a:visited {
   outline: 0;

   color: #007723;
}

html,
button,
input,
select,
textarea {
  color: #4c4c4c; }
a:hover,a:focus, a:active {
  text-decoration: none;
}
.se-margin {
  margin-bottom: 110px;
}
audio,
canvas,
img,
video {
  vertical-align: middle; }

ul, li {
  margin: 0;
  padding: 0; }
img{
  max-width: 100%;
}
body {
 font-family: 'gotham_bookregular';
 line-height: 24px;
}

.mt-30px {
  margin-top: 30px !important;
}

.no-pad{
  padding: 0;
}

.modal-content {

    position: relative;
    background-color: #00510b;
    box-shadow: none;
    border-radius: 0;
    border: 0;
}
/* --------------------------------------------------------
Preloader CSS
-----------------------------------------------------------*/

#preloader {
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 9999;
    background: #fff;
    display: block;
    color:#FA5757;
}
#preloader img {
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
  max-width:100%;
  width:auto;
}

  /* TOP BAR */
  .top-bar {
    background: url('../images/top-bg.png')center center no-repeat;
    background-size: cover;
    min-height: 75px;
  }
.navbar-header {
  position: relative;
  }
.navbar-brand {
    position: absolute;
    top: -30px;
    left: 0;
    margin: 0 auto;
    padding: 0;
    width: 260px;
}
 .navbar-brand>img {
    display: block;
    width: 260px;
    height: 260px;
    border-radius: 50%;
}
.navbar-default {
    background-color: rgba(248, 248, 248, 0);
    border-color: rgba(231, 231, 231, 0);
    margin-bottom: 0;
    z-index: 200;
}
.navbar-right {
    padding: 70px 0;
}
.navbar-default .navbar-nav>li {
  position: relative;
  
}
.navbar-default .navbar-nav>li a.router-link-active:before {
    position: absolute;
    content: "";
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;
}
.navbar-default .navbar-nav>li>a {
    color: #007723;
    font-size: 15px;
    font-weight: 700;
   font-family: 'gotham_mediumregular';
   text-transform: capitalize;
}

.navbar-default .navbar-nav>li>a.router-link-active {

  text-transform: uppercase;

  color: #000;
  
}
.navbar-default .navbar-nav>.router-link-active>a,
.navbar-default .navbar-nav>.router-link-active>a:focus,
.navbar-default .navbar-nav>.router-link-active>a:hover {
    color: #000000;
    text-transform: uppercase;
    background-color: rgba(231, 231, 231, 0);
    position: relative;  
}

/* about-banner */
.about-banner {
  background: url('../images/about-banner.jpg')center center no-repeat;
  background-size: cover;
  min-height: 360px;
}

.thumbnail {

  border: 0;
}


.home-banner {
  background: url('../images/home-banner.jpg')center center no-repeat;
  background-size: cover;
  min-height: 460px; 
  margin-bottom: 120px;
}

.twitter-thumbnail iframe {

  height: 375px !important;

}

.home-banner .row {
  position: relative;
}
.video-icons {
  padding: 300px 0 200px 0;
}
.video-icons h1{
  text-align: center;
  color: #fff;
  font-size: 50px;
}
/* video */
.main-image {
    background-image: url("../images/jumbotron.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 460px;
}

.jumbotron-text-container {
  padding-top: 120px; }

#jumbotron-play-btn {
  font-size: 132px;
  color: white;
  transition: 0.5s all; }
  #jumbotron-play-btn:hover {
    cursor: pointer;
    color: rgba(0, 149, 57, 0.7);
    transform: scale(1.2); }

h6.jumbotron-text,
h1.jumbotron-text {
  color: white;  
  font-size: 50px;
    font-weight: 700;}

h6.jumbotron-text {
  text-transform: uppercase; }

#close-video-btn {
  display: none; }

#jumbotron-video {
  display: none;
  height: 460px;
  padding-left: 0px; }
#close-video-btn {
    display: none;
}

 
p.jumbotron-text {
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase; 
    margin: 0 auto;
    margin-top: 20px;
}
  /* video */
.home-tshirt .detais-shirt h3 {
  position: relative;
  color: #252525;
}
.home-tshirt .detais-shirt h3:before {
    position: absolute;
    content: " ";
    left: 50%;
    margin-left: -5px;
    bottom: -16px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #009639;
}
.home-tshirt .detais-shirt p {
    margin-top: 25px;
    font-size: 15px;
    font-family: inherit;
    color: #898989;
    line-height: 18px;
    margin-bottom: 25px;
    min-height: 50px;
}
.home-tshirt .btn {
    background: transparent;
    color: #009639;
    padding: 10px 35px;
    border: 2px solid #009639;
    border-radius: 5px;
}
.home-tshirt .btn:hover {
    background: #009639;
    color: #fff;
    padding: 10px 35px;
    border: 2px solid #009639;
    border-radius: 5px;
}
.tshirt.home-tshirt h2 {
    border: 0px;
}
.tshirt.home-tshirt {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 119px;
}
.tshirt.home-tshirt h2:before {
  position: inherit;
  content: " ";
}
.news-letter.homepage-newsletter {
    margin-bottom: 30px;
}
/* ****ou
t-side */
.out-side {
  padding: 119px 0 119px;
}
.left-image-div {
  width: 95%;
  position: relative;
  
}
.left-image-div i {
    position: absolute;
    top: 40%;
    left: 45%;
    z-index: 99;
    font-size: 55px;
    color: #fff;
      -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.left-image-div i:hover {
    cursor: pointer;
    color: rgba(0, 149, 57, 0.7);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.out-text {
  margin-left: 5%;
}
.out-text p {
  font-size: 16px;
  padding-top: 25px;
}

/* image-list */

.image-list {

  margin-bottom: 119px;

}

.image-list .container-fluid .col-xs-12{
  padding-left: 0;
  padding-right: 0;
}
.image-list ul {
  margin-left: 0;
}
.image-list ul li {
  width: 20%;
  padding: 1.5px;
  float: left;
  list-style-type: none;
}

/* Our Mission */

.our-mission {
  background: url('../images/x-bg.jpg')center center no-repeat;
  background-size: cover;
  padding: 100px 0;
  margin: 0 0 119px;
}

.mission-text p {
    font-family: 'gotham_blackregular';
    font-size: 25px;
    line-height: 35px;
    color: #fff;
}

.grid-image {

  margin-bottom: 119px;
}

/* Grid Images */
.grid-image .grid img {
    width: 100%;
}
/* testimonial */
.testimonial {
  padding: 119px 0;
  position: relative;
  max-width: 1400px;
  margin: 0 auto ;
}
.te-testimonail-innner {
    position: relative;
    /* padding-right: 33%; */
    text-align: right;
}
.testimonial-text {
   padding-right: 33%;
}
.te-testimonail-innner img {
    position: absolute;
    top: 0;
    right: 15px;
    width: 315px;
    height: 315px;
    border-radius: 50%;
}
.te-testimonail-innner h5 {
  font-size: 14px;
  color: #252525;
} 
.te-testimonail-innner p {
    font-size: 20px;
    color: #009639;
    text-align: left;
    padding-top: 125px;
    line-height: 35px;
}
.te-testimonail-innner h5 {
    font-size: 14px;
    color: #252525;
    padding-top: 15px;
    padding-bottom: 7px;
}
.te-testimonail-innner h6 {
  font-style: italic;
} 

.testimonail-nav span {
    position: absolute;
    top: 50%;
    cursor: pointer;
}
.testimonail-nav span.prev {
    left: 15px;
}
.testimonail-nav span.next {
    right: 15px;
}
.testimonail-nav span.next img {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.testimonial .slick-slide { 
    min-height: 320px;
}

/* advanced-take */
.advanced-take {
  padding: 180px 0;
  background: url('../images/advanced-bg.jpg')center center no-repeat;
  position: relative;
  background-size: cover;
  margin-bottom: 120px;
}
.advanced-take:before {
  position: absolute;
  content: " ";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.advanced-take p{
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  line-height: 45px;
  font-weight: 700;
}
/* news-letter */
.news-letter {
  padding: 30px 0;
  background: url('../images/letter-bg.jpg')center center no-repeat;
  background-size: cover;
}


.news-letter h3 {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 20px;
    color: #fff;
}
.news-letter form .form-control {
    height: 55px;
}
.news-letter form .input-group-btn .btn {
    padding: 16px 30px;
    height: 55px;
    font-size: 15px;
    background: #a0ceb1;
    text-transform: uppercase;
    color: #00580d;
    font-weight: 700;
}
#subscribe-notification {
  /* display: none; */
}
/* footer */
.footer-top {
    border-bottom: 4px solid #009639;
    padding-bottom: 50px;
    position: relative;
}
.footer-top:before {
    position: absolute;
    content: url('../images/dust.png');
    bottom: -10px;
    left: 50%;
    margin-left: -60px;
}
.footer-logo img {
  margin: 23px;
}

.footer-top ul li a {
  color: #007723;
  font-weight: 600;
  font-size: 14px;
  font-family: 'gotham_mediumregular';
  text-transform: uppercase;
  padding: 15px 15px;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.footer-top ul li a:hover {
    color: #000;
    text-transform: uppercase;
      -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.fotter-bottom {
  padding: 35px 0;
}
.fotter-bottom ul li:first-child a {
  text-transform: capitalize;
}
.fotter-bottom ul li a {
  text-transform: uppercase;
  font-size:12px;
  color: #959595;
}


/* =========================================================
                      Business page 
 =========================================================*/

 .made-more {
  padding: 120px 0;
 }
 .bigslider-wrap img {
  width: 100%;
 }
 .bigslider {
  position: relative;
 }
 
.bigslider .bigslider-nav span {
    position: absolute;
    top: 50%;
    cursor: pointer;
    margin-top: -15px;
    z-index: 999;
}
.bigslider .bigslider-nav span.prev {
    left: 15%;
}
.bigslider .bigslider-nav span.next {
    right: 15%;
}
.bigslider .bigslider-nav span.next img {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

/* four-image */
.four-image {
  padding: 120px 0;
}
.four-image img {
  width: 100%;
}
/* map-area */
.map-area {


  background-image: url('../images/map-back.png');

  background-repeat:  no-repeat;


  padding: 15px 0;

  background-size: cover;

  height: 640px;

  position: relative;
}

.all-map-list {

  height: 640px;

  background: url(../images/county-outline.png) center center no-repeat;

  color: #000;

}

.all-map-list ol li {
  padding: 10px 0;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'gotham_mediumregular';
}
.all-map-list ol li:hover {
    color: #000;
    cursor: pointer;
}

.all-map-list {

  position: relative;
  
}

.thirdhover {
    
    position: absolute;
    
    top: 426px;
    
    left: 837px;

}
.secondhover {
    position: absolute;
    top: 317px;
    left: 417px;
}
.eighthover {
    position: absolute;
    top: 150px;
    left: 290px;
}
.sevenhover {
    position: absolute;
    top: 437px;
    left: 794px;
}
.fivehover {
    position: absolute;
    top: 261px;
    left: 612px;
}
.sixhover {
    position: absolute;
    bottom: 240px;
    left: 600px;
}
.twelvehover {
    position: absolute;
    bottom: 49%;
    left: 68%;
}
.thirteenhover {
    position: absolute;
    top: 135px;
    left: 48%;
}
.fourteenhover {
    position: absolute;
    top: 419px;
    left: 392px;
}
.fifteenthhover {
    position: absolute;
    top: 289px;
    left: 713px;
}

.sixteenthhover {

    position: absolute;
    top: 181px;
    left: 734px;

}
.ninehover {
    position: absolute;
    top: 56%;
    left: 62%;
}

.tenhover {
    position: absolute;
    top: 56%;
    left: 84%;
}
.fourhover {
    position: absolute;
    top: 61%;
    left: 65%;
}
.onehover {
    position: absolute;
    top: 44%;
    right: 27%;
}

.elevenhover {
    position: absolute;
    top: 52%;
    right: 43%;
}

.circle-state {

  position: absolute;
}

.firsthoverrec {
  top: 31%;
  left: 62%;
}

.secondhoverrec {
  top: 23.5%;
  left: 23%;
}

.fourthhoverrec {
  top: 27%;
  left: 22.5%;
}

.fifthhoverrec {

  top: 68%;

  left: 34.5%;

}

.sixthhoverrec {

  top: 85%;

  left: 67.5%;
}

.seventhhoverrec {

  top: 45%;
  left: 51%;
}

.eigthhoverrec {

  left: 62%;

  top: 52.5%;

}

.ninthhoverrec {

  top: 63%;

  left: 53%;

}

.tenthhoverrec {

  top: 51%;

  left: 66%;
}

.eleventhhoverrec {

  top: 55%;

  left: 73.5%;
}

.twelthhoverrec {

  top: 56%;

  left: 78%;
}

.thirteenthhoverrec {

  top: 60%;

  left: 65.5%;
}

.fourteenthhoverrec {

  top: 48%;

  left: 48%;
}

.fifteenthhoverrec {

  top: 66%;

  left: 68%;

}

.sixteenthhoverrec {

  top: 57%;

  left: 69.5%;

}

.seventeenthhoverrec {

  top: 68%;

  left: 65.5%;

}

.eighteenthhoverrec {

  top: 90%;

  left: 69%;

}

.nineteenthhoverrec {

  top: 57%;

  left: 65.5%;

}

.twentiethhoverrec {
  top: 66%;
  left: 54%;
}

.circle-state span {
    font-size: 17px;
    color: #009639;
    background: #fff;
    width: 25px;
    height: 25px;
    display: block;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    border: 2px solid #000;
    font-weight: 700;
        -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.circle-state span:hover, .active.circle-state span {
    background: #000;
    color: #FFF;
    cursor: pointer;
    border: 2px solid #fff;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.modal-content {
    position: relative;
    background-color: #00510b;
    margin-bottom: 119px;
  }

.modal-body {

  max-width: 680px;

  margin: 0 auto;

}

.modal-body h1 {
  color: #fff;
}
.modal-body p {
  color: #fff;
  padding-bottom: 0;
}
.modal-body a {
    color: #fff;
    line-height: 45px;
    font-size: 12px;
    font-weight: 600;
}
.modal-header {
    min-height: 14px;
    padding: 0;
    border-bottom: 0px solid #e5e5e5;
}
.modal-header .close {
    margin-top: -10px;
    margin-right: -5px;
    color: #fff;
    opacity: 1;
    background: #038214;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
/* =========================================================
                      Business page 
 =========================================================*/

.business-nav span {
    position: absolute;
    top: 50%;
    cursor: pointer;
    margin-top: -15px;
}
.business-nav span.prev {
    left: 30px;
}
.business-nav span.next {
    right: 60px;
}
.business-nav span.next img {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.national-food {
  background: url('../images/business-dust.jpg')center center no-repeat;
  background-size: cover;
  padding: 105px 0;
  margin-bottom: 120px;
}



/* =========================================================
                   EDUCATION PAGE
 =========================================================*/
 .important-text {
    padding:  0 0;
}


.important-links {

  margin: 0 0 119px;

}

.important-links ul li a {
 font-size: 20px;
 font-weight: 700;
 color: #111111;
}
.important-links ul li {
  border-bottom: 2px solid #009639;
  min-height: 100px;
  padding: 0;
}

.important-links ul li:nth-of-type(2) {

  margin-top: 70px;

}

/* =========================================================
                   BUSINESS PAGE
 =========================================================*/

.business-important {
}

.image-carousel {

  margin-bottom: 119px;

}

/*GO Page*/
.image-carousel .prev img, 
.image-carousel .next img {
    height: 320px;
    cursor: pointer;
}

.image-carousel #carousel img {
    height: 320px;
    width: 320px;
}
.image-carousel #carousel .slick-slide {
    position: relative;
    margin: 0 1px;
}
 #carousel .slide-caption {
    bottom: 40%;
    min-height: 80px;
    left: 20%;
    position: absolute;
    width: 100%;
    z-index: 2;
    color: white;
}
.shirt-details img {
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
}
.detais-shirt h3 {
  font-size: 30px;
  font-family: 'gotham_blackregular';
  color: #009639;
  padding-top: 45px;
}
.detais-shirt p {
  font-size: 20px;
  color: #555555;
  padding-top: 10px;
   font-family: 'gotham_boldregular';
}
.detais-shirt {
    margin-bottom: 30px;
}
.tshirt {
    padding: 85px 0;
}
.tshirt h2 {
    font-size: 40px;
    color: #252525;
    font-weight: 700;
    padding-bottom: 50px;
    border-top: 4px solid #009639;
    padding: 45px;
    position: relative;
}

.tshirt h2:before {
  position: absolute; 
  content: url('../images/dust.png');
  top: -38px;
  left: 50%;
  margin-left: -60px;
}

.go-custom {
  padding: 120px 0;
}
.go-custom h3{
  text-align: center;
      font-size: 40px;
    color: #252525;
    font-weight: 700; 
} 
 .go-custom p {
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 50px;
}

.go-custom .instructions {

  margin-top: 1em;
}

@media (max-width: 700px) {

  .go-custom .instructions {

    margin-top: -110px;

  }
}

.go-custom .instructions .instruction {

  text-align: left;

  margin-bottom: 3em;


}

.go-custom .instructions div.instruction:before {


    border: 2px solid #000;
    border-radius: 50em;
    padding: .5em;
    display: block;
    height: 2.5em;
    width: 2.5em;
    font-size: 1.5em;
    margin-right: .5em;
    margin-left: .5em;
    float: left;
    text-align: center;
    color: #007723;
    margin-bottom: 1.5em;

}

.go-custom .instructions div.instruction:nth-of-type(1):before {
    content: "1";
}

.go-custom .instructions div.instruction:nth-of-type(2):before {

    content: "2";

  }
.go-custom .instructions div.instruction:nth-of-type(3):before {

     content: "3";
  }

 .go-custom-jpg { 
    text-align: center;
}

 .go-custom-jpg img {
   width: 100%;
 }
.custom-jpg ul.zoom-icoons {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    display: block;
    width: 100%;
    margin-left: 0;
    padding: 14px 10px;
    text-align: left;
}
 
.go-custom-jpg {
    text-align: center;
    width: 65%;
    margin: 0 auto;
}
.custom-jpg {
    position: relative;
   /* overflow: hidden;*/
    border: 2px solid #009639;
}
.custom-jpg ul.zoom-icoons li {
    color: #fff;
    width: 70px;
    text-align: center;
}
.custom-jpg ul.zoom-icoons li a{
  color: #fff;
}
.custom-jpg ul.zoom-icoons li a .fa {
  font-size: 20px;
}
.go-custom-jpg ul li a img {
    width: 28px;
    height: auto;
}
.go-custom-jpg ul.nav-justified {
    border: 2px solid #009639;
    margin-left: 0;
    margin-top: 10px;
}
.go-custom-jpg ul.nav-justified li {
    border-right: 2px solid #009639;
    padding: 28px 5px;
}

.go-custom-jpg ul.nav-justified li:last-child {
  border-right: 0px solid #009639;
}
.go-custom-jpg ul.nav-justified li:hover {
    background: rgb(0, 150, 57);
    cursor: pointer;
}
.go-custom-jpg ul.nav-justified li {
    background: transparent url('../images/hover-img.png');
}
.go-custom-jpg ul.nav-justified li:hover {
    background: #009639 url('../images/hover-img.png');
}


#preloader {
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 9999;
    background: #fff;
    display: block;
  color:#FA5757;
}
#preloader img {
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
  max-width:100%;
  width:auto;
}

.go-custom-jpg ul.nav-justified li:nth-child(1) {
    background-position: 14px 3px;
}
.go-custom-jpg ul.nav-justified li:nth-child(1):hover{
    background-position: 14px -57px;
}

.go-custom-jpg ul.nav-justified li:nth-child(2) {
    background-position: -102px 5px;
}
.go-custom-jpg ul.nav-justified li:nth-child(2):hover{
    background-position: -104px -52px;
}

.go-custom-jpg ul.nav-justified li:nth-child(3) {
    background-position: -227px 1px;
}
.go-custom-jpg ul.nav-justified li:nth-child(3):hover{
    background-position: -229px -58px;
}

.go-custom-jpg ul.nav-justified li:nth-child(4) {
    background-position: -358px 0px;
}
.go-custom-jpg ul.nav-justified li:nth-child(4):hover{
    background-position: -358px -54px;
}
.go-custom-jpg ul.nav-justified li:nth-child(5) {
    background-position: 85px 4px;
}
.go-custom-jpg ul.nav-justified li:nth-child(5):hover{
    background-position: 85px -52px;
}
.go-custom-jpg .nav-justified>li {
    display: table-cell;
    width: 1%;
}

/*how-it-works*/
.how-it-works {
  padding-bottom: 120px;
}
.how-it-works h3 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 25px;
}
.number {
    float: left;
    width: 78px;
    height: 78px;
    border: 4px solid #252525;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 35px;
    color: #009639;
}
.number-text {
    padding-left: 86px;
    padding-top: 13px;
}
.number-text p {
    font-size: 18px;
    color: #111111;
    line-height: 26px;
    font-weight: 600;
}


/* =========================================================
                   NEWS PAGE
 =========================================================*/

.news-title {
  margin-bottom: 57px;
  font-size: 40px;
}

.news-lastest-post{
  margin-bottom: 90px;
}
.post-content {
  margin-top: 33px;
}

.post-content .post-meta {
  overflow: hidden;
  margin-bottom: 30px;
}
.post-content .post-meta h2{
  font-weight: bold;
}

.post-content .post-meta .date {
    color: #009639;
}

.post-content p {
  font-size: 18px;
  color: #898989;
}

.post-content .news-read-more {
    font-weight: bold;
    color: #898989;
    display: block;
    margin-top: 25px;
}

.post-content .news-read-more:after {
    content: url('../images/read-more-arrow.png');
    margin:2px 0 0 25px;
    vertical-align: middle;
}

.post-content .news-read-more:hover {
    color: #009639;
}

.news-post {
  margin-bottom: 50px;
}
.post-content-small {
  margin-top: 0;
}

.news-right-sidebar {
  padding-left: 48px;
  margin-top: 50px;
}

.news-v-more-btn {
    width: 190px;
    height: 50px;
    line-height: 47px;
    margin: 100px auto auto auto;
    display: block;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border:3px solid #009639;
    color: #009639;
    position: none;
    text-align: center;
}

.news-v-more-btn:hover {

    border:3px solid #009639;
    color: #fff;
    background:#009639;
}
.social-tab ul.nav li a .fa {
  font-size: 30px;
  color: #ccc;
}
.social-tab .nav>li>a:focus, 
.social-tab .nav>li>a:hover {
    text-decoration: none;
    border: 1px solid transparent;
    color: #000;
}
.social-tab .nav-tabs.nav-justified>.active>a, 
.social-tab .nav-tabs.nav-justified>.active>a:focus, 
.social-tab .nav-tabs.nav-justified>.active>a:hover {
    border: 0px solid #ddd;
    color: #000;
}
.social-tab .nav-tabs.nav-justified>.active>a .fa, 
.social-tab .nav-tabs.nav-justified>.active>a:focus .fa, 
.social-tab .nav-tabs.nav-justified>.active>a:hover .fa{
    border: 0px solid #ddd;
    color: #636363;
} 
.social-tab .nav-tabs.nav-justified>a:hover .fa{ 
    color: red;
}
.social-tab .nav-tabs.nav-justified>li>a {
    border-bottom: 0px solid #ddd;
    border-radius: 4px 4px 0 0;
}
.social-tab .nav-tabs.nav-justified { 
    border-bottom: 2px solid #ccc;
}
.social-tab .nav-tabs li:first-child {
  border-right: 2px solid #ccc;
}
/* .affix  */
.affix-top {
  position: relative;
}

.affix {
  top: 0px;
}

.affix, 
.affix-bottom {
    width: 313px;
}

.affix-bottom {
  position: absolute;
}



.fileUpload {

  position: relative;

  background-color: #007723 !important;

  border-radius: 0;

  border: 0;

  color: #fff !important;

  cursor: pointer;

  width: 130px;

}


.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 100%;
    display: block;
    left: 0;
}

.recreation-image-list {

  margin-top: 119px;
}

.instructions .btn-primary, .instructions .btn-primary:hover {

  background-color: #007723;

  color: #fff;

  width: 130px;

  border: 0;

  border-radius: 0;
}

@media (max-width: 700px) {

  #generatorCanvas {

    transform: scale(.5) translateX(-260px);

    margin-top: -160px;
  }

}

.custom-jpg .text-generator {

  width: 70%;

  margin: 0;

}

.btn {
    font-size: 15px;
    font-weight: 700;
    font-family: 'gotham_mediumregular';
    text-transform: capitalize;
}

.important-text .column {

  margin: 0 2em;

}


#mobileaccordion .panel-default>.panel-heading {

  background-color: #00510b;

  border-radius: 0;
}

#mobileaccordion.panel-group .panel+.panel {

  margin-top: 0;

}

.panel-group .panel {

  border-radius: 0;

  border: 0;

}

#mobileaccordion .panel-body {

  background-color: #007723;

}
#mobileaccordion a {

  color: #fff;
  
  font-weight: bold;

}
#mobileaccordion p {

  color: #fff;
  margin-bottom: 20px

}



@media (min-width: 1000px) {

  img.big-image {

    height: 618px;

  }

  .home-column {

      width:45%;
  }

  .home-tshirt .row {

    max-width: 977px;

    margin-left: auto;

    margin-right: auto;
  }
}



@media (min-width: 1190px) {


  #mobileaccordion {

    display: none;
  }
}

@media (max-width: 880px) {

  .hide-mobile {

    display: none;

  }

  #about-footer, #business-footer, #education-footer {

    margin-bottom: 70px;

  }

.bigslider-wrap img {

  height: 150px;

}
.grid-image {

  margin-bottom: 70px;
}
img.big-image {

  margin-top: 30px;

}
.image-list {

  margin-bottom: 70px;

}

.panel-group {

  margin-bottom: 70px;
}

  .made-more {

    padding: 0px 0 70px;
  }

  .four-image {

    padding: 70px 0;
  }

  .four-image .col-xs-6, .image-list .col-xs-6 {

    padding:  10px;
  }

  .about-banner {

    height: 170px;

    min-height: 0 !important;

  }

  .wow{visibility: visible !important;-webkit-animation-name: none !important;-o-animation-name: none !important;animation-name: none !important;}

  .modal-content {

    display: none;
  }

  .important-text .column {

    margin: 0 0;
  }

  .image-carousel .prev img, .image-carousel .next img {

    height: 150px;

  }

  .image-carousel #carousel img {

    height: 150px;

    width: 150px;
  }

  .main-image {

    height: 580px !important;

  }

  .image-list ul li {

    width: 49% !important;

  }

  .image-list ul li.large {

    width: 95% !important;
  }

  .navbar-default .navbar-nav>li a.router-link-active:before {

    display: none;
  }

  .map-area {

    display: none;

  }

}

@media (max-width:360px) {

#generatorCanvas{width: 550px;}

}

.instruction {
  margin-top: 50px;
}