<?php include('header.phtml'); ?>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Forms</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form role="form">
                                <?php 

                                $i = 1;


                                foreach ($content['copy'] as $title => $data) {

                                    echo '<div class="form-group">';

                                    echo '<label for="' . $title . '">' . str_ireplace('_', ' ', $title) . '</label> <br />';

                                    echo '<input class="form-control" name="copy[' . $title . ']" value="' . $data . '" />';

                                    echo '</div>';

                                    $i++;

                                } ?>
                                <?php 
                                if ( isset ($content['links'] ) ) {
                                foreach ( $content['links'] as $links) {

                                    $i = 0;

                                    echo '<div class="form-group col-sm-6">';
                                    echo '<label>Anchor Text</label>';
                                    echo '<input class="form-control" type="text" name="links[' . $i .'][title]" value="' . $links['text'] . '" />';
                                    echo '</div>';
                                    echo '<div class="form-group col-sm-6">';
                                    echo '<label>URL:</label>';
                                    echo '<input class="form-control" name="links[' . $i . '][url]" value="' . $links['url'] . '" type="text" />';
                                    echo '</div>';

                                    $i++;
                                } } ?>
                                <button type="submit" class="btn btn-default">Submit Button</button>
                                <button type="reset" class="btn btn-default">Reset Button</button>
                            </form>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
        <!-- /#page-wrapper -->
<?php include('footer.phtml'); ?>
