include header

page-wrapper
    .row
        .col-lg-12
            h1.page-headerForms
    .row
        .col-lg-12
            .panel.panel-default
                .panel-body
                    .row
                        .col-lg-12
                            form(role="form")
                                .form-group
                                    label label
                                    input.form-control(name="item")
                                button.btn.btn-default(type="submit") Submit
                                button.btn.btn-default(type="reset") Reset
include footer
