<?php include('header.phtml'); ?>
<!-- About-Banner -->
<div class="about-banner">

</div>
<!-- About-Banner -->

<!-- Out Side Section -->
<div class="out-side">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 wow slideInLeft">
        <div class="left-image-div">
          <img class="img-responsive" src="images/v1.jpg" alt="">
          <a class="various fancybox.iframe" href="http://www.youtube.com/embed/L9szn1QQfas?autoplay=1"><i class="fa fa-play-circle-o"></i></a>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 wow slideInRight">
        <div class="out-text">
          <h1>Outside the ordinary</h1>
          <p>Gaston Outside is a celebration of the people, places, businesses and natural beauty that make Gaston County such an amazing place. From the mountains in the west to the rivers in the east, our county is woven together with a heritage of hard work and a love for the outdoors.</p> 
          <p>Nestled just outside of Charlotte, Gaston County is diverse, made up of charming small towns, plentiful natural resources and adventurous people. We are makers and doers, proud to call ourselves ‘outsiders.’ We are Gaston Outside.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Out Side Section -->
<!-- Image list section -->
<div class="image-list">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 wow fadeIn">
        <ul class="">
          <li><a href="#"><img src="images/boat1.jpg" alt=""></a></li>
          <li><a href="#"><img src="images/boat2.jpg" alt=""></a></li>
          <li><a href="#"><img src="images/boat3.jpg" alt=""></a></li>
          <li><a href="#"><img src="images/boat4.jpg" alt=""></a></li>
          <li><a href="#"><img src="images/boat5.jpg" alt=""></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Image list section -->

<!-- Our MIssion -->
<div class="our-mission wow fadeIn" data-wow-delay=".4s">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="mission-text text-center">
          <p>Our mission is to inspire the people of Gaston to discover Gaston County and share its incredible stories with the world.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Our MIssion -->

<!-- grid images section -->
<div class="grid-image">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="row">
          <div class="col-xs-12 wow slideInLeft">
            <img src="images/grid-img10.jpg" alt="Gallery 02">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6 wow slideInLeft">
            <div class="grid mt-30px">
              <img src="images/grid-img2.jpg" alt="Gallery 02">
            </div>
          </div>
          <div class="col-xs-12 col-md-6 wow slideInLeft">
            <div class="grid mt-30px">

             <img src="images/grid-img3.jpg" alt="Gallery 02">

           </div>
         </div>
       </div>
     </div>
     <div class="col-xs-12 col-md-6 wow slideInRight">
      <div class="grid">
        <img src="images/grid-img4.jpg" alt="Gallery 02">
      </div>
    </div>
  </div>
</div>
</div>
<!-- grid images section -->


<!-- Testimonial -->
<div class="testimonial">
  <div class="container">
    <div class="row">
    <div class="te-testimonial-wrap wow fadeIn" data-wow-delay=".4s"> 
       <div class="col-sm-12 te-testimonail-innner">
        <img src="images/testimonail-thum.jpg" alt="thum">
        <div class="testimonial-text">
          <p>“H5 Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod el tempor incididunt ut labore et dolore magna aliqua.”</p>
          <h5>John Doe</h5>
          <h6>Body Copy Italic Title/Description</h6>
        </div>
      </div> <!-- /te-testimonail-innner --> 

      <div class="col-sm-12 te-testimonail-innner">
        <img src="images/testimonail-thum.jpg" alt="thum">
        <div class="testimonial-text">
          <p>“H5 Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod el tempor incididunt ut labore et dolore magna aliqua.”</p>
          <h5>John Doe</h5>
          <h6>Body Copy Italic Title/Description</h6>
        </div>
      </div> <!-- /te-testimonail-innner --> 

      <div class="col-sm-12 te-testimonail-innner">
        <img src="images/testimonail-thum.jpg" alt="thum">
        <div class="testimonial-text">
          <p>“H5 Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod el tempor incididunt ut labore et dolore magna aliqua.”</p>
          <h5>John Doe</h5>
          <h6>Body Copy Italic Title/Description</h6>
        </div>
      </div> <!-- /te-testimonail-innner --> 
    </div><!-- /.testimonial-wrap -->

    <div class="testimonail-nav">
      <span class="prev"><img src="images/arrow.png" alt="arrow"></span>
      <span class="next"><img src="images/arrow.png" alt="arrow"></span>
    </div>
  </div>
</div>
</div>
<!-- Testimonial -->


<!-- Advanced take -->
<div class="advanced-take wow fadeInUp" data-wow-delay=".4s">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <p>where will your adventure take you?</p>
      </div>
    </div>
  </div>
</div>
<!-- Advanced take -->

<?php include('footer.phtml'); ?>