<?php include('header.phtml'); ?>
<!-- Header -->
<!-- About-Banner -->
<div class="about-banner">

</div>
<!-- About-Banner -->

<!-- Out Side Section -->
<div class="made-more">
  <div class="container">
    <div class="row"> 
      <div class="col-xs-12 col-md-8 col-md-offset-2 wow slideInRight">
        <div class="out-text text-center">
          <h1>Made of More</h1>
          <p>With 14 unique municipalities, Gaston County has plenty of places to call home—whether you’d like to be close to the city, close to the great outdoors, or both! Each municipality brings its own distinct personality, but they all share the county’s tenacious energy, adventurous spirit and friendly charm.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Out Side Section --> 

<!-- Big Slider -->
<div class="bigslider wow zoomIn">
  <div class="bigslider-wrap">
    <div><img class="img-responsive" src="images/bigslider1.jpg" alt=""></div>
    <div><img class="img-responsive" src="images/bigslider1.jpg" alt=""></div>
    <div><img class="img-responsive" src="images/bigslider1.jpg" alt=""></div>
  </div>
  <div class="container">
    <div class="bigslider-nav">
      <span class="prev"><img src="images/arrow-white.png" alt="arrow-white"></span>
      <span class="next"><img src="images/arrow-white.png" alt="arrow"></span>
    </div>
  </div>
</div>
<!-- Big Slider -->

<!-- Simple Image  -->
<div class="four-image">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 wow slideInLeft" data-wow-delay=".6s">
        <img class="img-responsive" src="images/boat1.jpg" alt="">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 wow slideInLeft" data-wow-delay=".4s">
        <img class="img-responsive" src="images/boat2.jpg" alt="">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 wow slideInLeft" data-wow-delay=".2s">
        <img class="img-responsive" src="images/boat3.jpg" alt="">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 wow slideInLeft">
        <img class="img-responsive" src="images/boat4.jpg" alt="">
      </div>
    </div>
  </div>
</div>
<!-- Simple Image  -->
<!-- Map area -->
<div class="map-area">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="all-map-list">
          <ol>
            <li data-toggle="modal" data-target="#exampleModal1" data-whatever="@mdo">Belmont</li>
            <li data-toggle="modal" data-target="#exampleModal2" data-whatever="@mdo"> Bessemer City</li>
            <li data-toggle="modal" data-target="#exampleModal3" data-whatever="@mdo">Cherryville</li>
            <li data-toggle="modal" data-target="#exampleModal4" data-whatever="@mdo">Cramerton</li>
            <li data-toggle="modal" data-target="#exampleModal5" data-whatever="@mdo">Dallas</li>
            <li data-toggle="modal" data-target="#exampleModal6" data-whatever="@mdo">Gastonia</li>
            <li data-toggle="modal" data-target="#exampleModal7" data-whatever="@mdo">High Shoals</li>
            <li data-toggle="modal" data-target="#exampleModal8" data-whatever="@mdo"> Kings Mountain</li>
            <li data-toggle="modal" data-target="#exampleModal9" data-whatever="@mdo">Lowell</li>
            <li data-toggle="modal" data-target="#exampleModal10" data-whatever="@mdo">McAdenville</li>
            <li data-toggle="modal" data-target="#exampleModal11" data-whatever="@mdo">Mount Holly</li>
            <li data-toggle="modal" data-target="#exampleModal12" data-whatever="@mdo">Ranlo</li>
            <li data-toggle="modal" data-target="#exampleModal13" data-whatever="@mdo">Spencer Mountain</li>
            <li data-toggle="modal" data-target="#exampleModal14" data-whatever="@mdo">Stanley</li>
          </ol>

          <div class="thirdhover circle-state">
            <span data-toggle="modal" data-target="#exampleModal3" data-whatever="@mdo">3</span>
          </div>
          <div class="secondhover circle-state">
            <span data-toggle="modal" data-target="#exampleModal2" data-whatever="@mdo">2</span>
          </div> 
          <div class="eighthover circle-state">
            <span data-toggle="modal" data-target="#exampleModal8" data-whatever="@mdo">8</span>
          </div>
          <div class="sevenhover circle-state">
            <span data-toggle="modal" data-target="#exampleModal7" data-whatever="@mdo">7</span>
          </div> 
          <div class="fivehover circle-state">
            <span data-toggle="modal" data-target="#exampleModal5" data-whatever="@mdo">5</span>
          </div> 
          <div class="sixhover circle-state">
            <span data-toggle="modal" data-target="#exampleModal6" data-whatever="@mdo">6</span>
          </div>
          <div class="twelvehover circle-state">
            <span data-toggle="modal" data-target="#exampleModal12" data-whatever="@mdo">12</span>
          </div>
          <div class="thirteenhover circle-state">
            <span data-toggle="modal" data-target="#exampleModal13" data-whatever="@mdo">13</span>
          </div>
          <div class="fourteenhover circle-state">
            <span data-toggle="modal" data-target="#exampleModal14" data-whatever="@mdo">14</span>
          </div>
          <div class="ninehover circle-state">
            <span data-toggle="modal" data-target="#exampleModal9" data-whatever="@mdo">9</span>
          </div>
          <div class="tenhover circle-state">
            <span data-toggle="modal" data-target="#exampleModal10" data-whatever="@mdo">10</span>
          </div>
          <div class="fourhover circle-state">
            <span data-toggle="modal" data-target="#exampleModal4" data-whatever="@mdo">4</span>
          </div>
          <div class="onehover circle-state">
            <span data-toggle="modal" data-target="#exampleModal1" data-whatever="@mdo">1</span>
          </div>
          <div class="elevenhover circle-state">
            <span data-toggle="modal" data-target="#exampleModal11" data-whatever="@mdo">11</span>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
<!-- Map area -->
<!-- Modal 11-->
<div class="modal fade" id="exampleModal11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
      <h1>Mount Holly</h1>
        <p>Charming, growing and located just outside of Charlotte, Belmont is home to Belmont Abbey College, plenty of young families and a vibrant downtown.</p>
        <a href="#">Visit Belmont <i class="fa fa-angle-right"></i></a>
      </div> 
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->
<!-- Modal 1-->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
      <h1>Belmont</h1>
        <p>Charming, growing and located just outside of Charlotte, Belmont is home to Belmont Abbey College, plenty of young families and a vibrant downtown.</p>
        <a href="#">Visit Belmont <i class="fa fa-angle-right"></i></a>
      </div> 
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->
<!-- Modal 2-->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
      <h1>Bessemer City</h1>
        <p>Charming, growing and located just outside of Charlotte, Belmont is home to Belmont Abbey College, plenty of young families and a vibrant downtown.</p>
        <a href="#">Visit Belmont <i class="fa fa-angle-right"></i></a>
      </div> 
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->

<!-- Modal 3-->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
      <h1>Cherryville</h1>
        <p>Charming, growing and located just outside of Charlotte, Belmont is home to Belmont Abbey College, plenty of young families and a vibrant downtown.</p>
        <a href="#">Visit Belmont <i class="fa fa-angle-right"></i></a>
      </div> 
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->
<!-- Modal 4-->
<div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
      <h1>Cramerton</h1>
        <p>Charming, growing and located just outside of Charlotte, Belmont is home to Belmont Abbey College, plenty of young families and a vibrant downtown.</p>
        <a href="#">Visit Belmont <i class="fa fa-angle-right"></i></a>
      </div> 
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->

<!-- Modal 5-->
<div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
      <h1>Dallas</h1>
        <p>Charming, growing and located just outside of Charlotte, Belmont is home to Belmont Abbey College, plenty of young families and a vibrant downtown.</p>
        <a href="#">Visit Belmont <i class="fa fa-angle-right"></i></a>
      </div> 
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->
<!-- Modal 6-->
<div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
      <h1>Gastonia</h1>
        <p>Charming, growing and located just outside of Charlotte, Belmont is home to Belmont Abbey College, plenty of young families and a vibrant downtown.</p>
        <a href="#">Visit Belmont <i class="fa fa-angle-right"></i></a>
      </div> 
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->
<!-- Modal 7-->
<div class="modal fade" id="exampleModal7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
      <h1>High Shoals</h1>
        <p>Charming, growing and located just outside of Charlotte, Belmont is home to Belmont Abbey College, plenty of young families and a vibrant downtown.</p>
        <a href="#">Visit Belmont <i class="fa fa-angle-right"></i></a>
      </div> 
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->

<!-- Modal 8-->
<div class="modal fade" id="exampleModal8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
      <h1>Kings Mountain</h1>
        <p>Charming, growing and located just outside of Charlotte, Belmont is home to Belmont Abbey College, plenty of young families and a vibrant downtown.</p>
        <a href="#">Visit Belmont <i class="fa fa-angle-right"></i></a>
      </div> 
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->
<!-- Modal 9-->
<div class="modal fade" id="exampleModal9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
      <h1>owell</h1>
        <p>Charming, growing and located just outside of Charlotte, Belmont is home to Belmont Abbey College, plenty of young families and a vibrant downtown.</p>
        <a href="#">Visit Belmont <i class="fa fa-angle-right"></i></a>
      </div> 
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->
<!-- Modal 10-->
<div class="modal fade" id="exampleModal10" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
      <h1>McAdenville</h1>
        <p>Charming, growing and located just outside of Charlotte, Belmont is home to Belmont Abbey College, plenty of young families and a vibrant downtown.</p>
        <a href="#">Visit Belmont <i class="fa fa-angle-right"></i></a>
      </div> 
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->

<!-- Modal 12-->
<div class="modal fade" id="exampleModal12" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
      <h1>Ranlo</h1>
        <p>Charming, growing and located just outside of Charlotte, Belmont is home to Belmont Abbey College, plenty of young families and a vibrant downtown.</p>
        <a href="#">Visit Belmont <i class="fa fa-angle-right"></i></a>
      </div> 
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->
<!-- Modal 13-->
<div class="modal fade" id="exampleModal13" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
      <h1>Spencer Mountain</h1>
        <p>Charming, growing and located just outside of Charlotte, Belmont is home to Belmont Abbey College, plenty of young families and a vibrant downtown.</p>
        <a href="#">Visit Belmont <i class="fa fa-angle-right"></i></a>
      </div> 
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->
<!-- Modal 14-->
<div class="modal fade" id="exampleModal14" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
      <h1>Stanley</h1>
        <p>Charming, growing and located just outside of Charlotte, Belmont is home to Belmont Abbey College, plenty of young families and a vibrant downtown.</p>
        <a href="#">Visit Belmont <i class="fa fa-angle-right"></i></a>
      </div> 
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->


<!-- Image list section -->
<div class="image-list">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 wow slideInLeft">
        <ul class="">
          <li><a href="#"><img src="images/boat1.jpg" alt=""></a></li>
          <li><a href="#"><img src="images/boat2.jpg" alt=""></a></li>
          <li><a href="#"><img src="images/boat3.jpg" alt=""></a></li>
          <li><a href="#"><img src="images/boat4.jpg" alt=""></a></li>
          <li><a href="#"><img src="images/boat5.jpg" alt=""></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Image list section -->
 <?php include('footer.phtml'); ?>