<?php include('header.phtml'); ?>
<!-- About-Banner -->
<div class="about-banner">

</div>
<!-- About-Banner -->

<!-- Out Side Section -->
<div class="out-side">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 wow slideInLeft">
        <div class="left-image-div education-slider">
          <div><img class="img-responsive" src="images/v1.jpg" alt=""></div>
          <div><img class="img-responsive" src="images/v1.jpg" alt=""></div>
          <div><img class="img-responsive" src="images/v1.jpg" alt=""></div>
        </div>
        <div class="business-nav">
          <span class="prev"><img src="images/arrow-white.png" alt="arrow-white"></span>
          <span class="next"><img src="images/arrow-white.png" alt="arrow"></span>
        </div>
      </div>
      <div class="col-xs-12 col-md-6  wow slideInRight">
        <div class="out-text">
          <h1>Outside the box</h1>
          <p>Education is the path to a bright future—for Gaston County and beyond. We’re proud to invest in tomorrow’s leaders and collaborators with a range of quality education offerings, including innovative magnet schools, for students of all ages. Be it early education or college, Gaston students will find rich opportunities to learn and grow across the county.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Out Side Section --> 


<!-- grid images section -->
<div class="grid-image">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="row">
          <div class="col-xs-12 wow slideInLeft">
            <img src="images/grid-img10.jpg" alt="Gallery 02">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6 wow slideInLeft">
            <div class="grid mt-30px">
              <img src="images/grid-img2.jpg" alt="Gallery 02">
            </div>
          </div>
          <div class="col-xs-12 col-md-6 wow slideInLeft">
            <div class="grid mt-30px">

             <img src="images/grid-img3.jpg" alt="Gallery 02">

           </div>
         </div>
       </div>
     </div>
     <div class="col-xs-12 col-md-6 wow slideInRight">
      <div class="grid">
        <img src="images/grid-img4.jpg" alt="Gallery 02">
      </div>
    </div>
  </div>
</div>
</div>
<!-- grid images section -->

<!-- Important Text -->
<div class="important-text">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4 wow fadeInLeftBig" data-wow-delay=".4s">
        <div class="important-links">
          <ul class="list-unstyled">
            <li><a href="#">Gaston County EDC </a></li>
            <li><a href="#">Dallas CVB </a></li>
          </ul>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 wow fadeInLeftBig" data-wow-delay=".2s">
        <div class="important-links">
          <ul class="list-unstyled">
            <li><a href="#">Bessemer City CVB </a></li>
            <li><a href="#">Gastonia CVB </a></li>
          </ul>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 wow fadeInLeftBig">
        <div class="important-links">
          <ul class="list-unstyled">
            <li><a href="#">Cherryville CVB </a></li>
            <li><a href="#">Montcross Area CVB </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Important Text -->




<!-- Advanced take -->
<div class="advanced-take wow fadeInUp" data-wow-delay=".4s">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <p>where will your adventure take you?</p>
      </div>
    </div>
  </div>
</div>
<!-- Advanced take -->

<?php include('footer.phtml'); ?>