
</my-app>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74290014-3', 'auto');

</script>


    <script src="node_modules/core-js/client/shim.min.js"></script>

    <script src="js/jquery.1.11.1.js"></script>
    <script src="inc/jquery-ui.min.js"></script>
    <script src="inc/touchpunch.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/slick.min.js"></script>

    <script src="js/fancybox/jquery.fancybox.min.js"></script>

<script src="js/jquery.easing.min.js"></script> 
<script src="js/script.js"></script>
<script src="js/mail.js"></script>

    <script> 
jQuery(document).ready(function() {

    /*  Active Wow Js
    ============================================= */
    new WOW().init();
    });
     </script>
    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/reflect-metadata/Reflect.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>

    <script src="systemjs.config.js"></script>
    <script>
      System.import('app').catch(function(err){ console.error(err); });
    </script>



</body>
</html>
