
<form action="<?php echo $formAction; ?>" method="POST">

<?php 

$i = 1;


foreach ($content['copy'] as $title => $data) {

	echo '<p>';

	echo '<label for="' . $title . '">' . $title . '</label> <br />';

	echo '<input name="' . $title . '" value="' . $data . '" />';

	echo '</p>';

	$i++;

} ?>

<input type="submit" value="save">
</form>