<!DOCTYPE HTML>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width"/>
  <title>GastonOutside</title>
  <meta name="description" value="" />
  <meta name="keywords" value="" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="js/fancybox/jquery.fancybox.min.css">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="inc/jquery-ui.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css"> 
  <link rel="stylesheet" href="css/animate.min.css">
  <link rel="stylesheet" href="css/slick.css">
  <link rel="stylesheet" href="css/slick-theme.css"> 
  <link rel="stylesheet" href="css/hover.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/responsive.css">

<script>
 businessContent = <?php echo json_encode($businessContent); ?>;
 aboutContent = <?php echo json_encode($aboutContent); ?>;
 communitiesContent = <?php echo json_encode($communitiesContent); ?>;
 homeContent = <?php echo json_encode($homeContent); ?>;
 educationContent = <?php echo json_encode($educationContent); ?>;
 recreationContent = <?php echo json_encode($recreationContent); ?>;
 newsContent = <?php echo json_encode($newsContent); ?>;
 goContent = <?php echo json_encode($goContent); ?>;
 baseUrl = '<?php echo $baseUrl; ?>';

</script>

<style>

  #business-banner {

    background-image : url('<?php echo $businessContent->images[0] ?>');

  }

  #about-banner {

    background-image: url('/images/about-banner.jpg');
  }


  #business-footer {

    background-image : url('<?php echo $businessContent->images[3]; ?>');

  }

  #communities-banner {

    background-image : url('/images/community-banner.jpg');
    
  }

  #news-banner {

    background-image: url('/images/news-banner.jpg');

  }

  #go-banner {

    background-image: url('/images/go-banner.jpg');
    
  }

  #recreation-banner {

    background-image: url('/images/recreation-header.jpg');

  }

  #education-banner {

    background-image: url('/images/education-banner.jpg');
  }

  #education-footer {

    background-image: url('/images/education-footer-image.jpg');
    
  }

  #about-footer {

    background-image: url('/images/about-footer-banner.jpg');

  }

</style>

    <base href="/">

</head>
<body>
<img height="1" width="1" style="border-style:none; display: none;" alt="" src="//insight.adsrvr.org/track/conv/?adv=wlben63&ct=0:0bw7a6x&fmt=3"/>
<img height="1" width="1" style="border-style:none; display: none;" alt="" src="//insight.adsrvr.org/track/evnt/?adv=wlben63&ct=0:3l35k4b&fmt=3"/>
<my-app>
<!--
  <img src="/images/logo.png" style="position: fixed; top: 50%; left: 50%; margin-top: -145px; margin-left: -145px;" />
  -->
